<div class="flexrow modificators-table">
    <ul class="mod-card">
        <li class="mod-item header flexrow colorset-first-tier">
            <p class="mod-type">{{localize "age-system.type"}}</p>
            <p class="mod-value">{{localize "age-system.value"}}</p>
            <p class="mod-controls"><a class="add-bonus"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></p>
        </li>
        {{#each data.data.itemMods as |mod|}}
        {{#if mod.selected}}
        <li class="mod-item flexrow feature-controls colorset-third-tier" data-mod-type="{{@key}}">
            <p class="mod-type">{{localize (concat "age-system.bonus." @key)}}</p>
            <div class="mod-value">
                {{#if (eq @key "focus")}}
                <input type="text" name="data.itemMods.{{@key}}.name" value="{{mod.name}}" placeholder="{{localize "age-system.focus"}}" data-dtype="String" />
                {{/if}}
                <input type="number" name="data.itemMods.{{@key}}.value" value="{{mod.value}}" data-dtype="Number" />
            </div>
            <div class="mod-controls">
                <a class="toggle {{#unless mod.isActive}}inactive{{/unless}}"><i class="fas fa-power-off"></i></a>
                <a class="remove"><i class="fa fa-trash"></i></a>
            </div>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>