{{!-- Effects Tab --}}
<div class="item-container effects">
    {{#if data.data.useConditions}}
    {{!-- Conditions Block --}}
    {{> "systems/age-system/templates/partials/conditions-block.hbs"}}
    {{/if}}
    <div class="actor-items flexrow">
        {{!-- Effects & Conditions Block --}}
        <ul class="item-container effects">
            <li class="flexrow header colorset-first-tier">
                <p class="effect-name">Name</p>
                <p class="effect-key">Key</p>
                <p class="effect-operation">Operation</p>
                <p class="effect-value">Value</p>
                <p class="effect-add"><a><i class="fa fa-plus-circle" aria-hidden="true"></i></a></p>
            </li>
            {{#each data.effects as |effect|}}
            <li class="flexrow colorset-third-tier elements feature-controls" data-effect-id="{{effect._id}}">
                <div class="effect-name flexrow">
                    <img class="effect-icon" src="{{effect.icon}}">
                    <p>{{effect.label}}</p>
                </div>
                <div class="flexcol effect-key">
                    {{#each effect.changes as |change|}}
                    <p>{{ageffect change.key ../../data.config.ageEffectsOptions}}</p>
                    {{/each}}
                </div>
                <div class="flexcol effect-operation">
                    {{#each effect.changes as |change|}}
                    <p>{{#if (eq change.mode 0)}}{{ localize "EFFECT.MODE_CUSTOM" }}{{/if}}
                        {{#if (eq change.mode 1)}}{{ localize "EFFECT.MODE_MULTIPLY" }}{{/if}}
                        {{#if (eq change.mode 2)}}{{ localize "EFFECT.MODE_ADD" }}{{/if}}
                        {{#if (eq change.mode 3)}}{{ localize "EFFECT.MODE_DOWNGRADE" }}{{/if}}
                        {{#if (eq change.mode 4)}}{{ localize "EFFECT.MODE_UPGRADE" }}{{/if}}
                        {{#if (eq change.mode 5)}}{{ localize "EFFECT.MODE_OVERRIDE" }}{{/if}}
                    {{/each}}
                </div>
                <div class="flexcol effect-value">
                    {{#each effect.changes as |change|}}
                    <p>{{change.value}}</p>
                    {{/each}}
                </div>
                <div class="effect-add">
                    <a class="effect-active icon {{#if effect.disabled}}inactive{{/if}}"><i class="fa fa-check" aria-hidden="true"></i></a>
                    <a class="effect-edit icon"><i class="fas fa-edit"></i></a>
                    <a class="effect-remove icon"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>