{{!-- Effects Tab --}}

<div class="item-container effects">
    <div class="actor-items flexrow">
        {{!-- Effects & Conditions Block --}}
        <ul class="item-container effects">
            <li class="flexrow header colorset-first-tier">
                <p class="source">Source</p>
                <p class="key"><a>+</a> Key</p>
                <p class="value">Value</p>
                <p class="operation">Operation</p>
                <p class="duration">Duration</p>
            </li>
            {{log this}}
            {{#each data.effects as |effect|}}
            <li class="flexrow colorset-third-tier feature-controls" data-effect-id="{{effect._id}}">
                <img class="effect-icon" src="{{effect.icon}}">
                <p class="effect-name"><a>{{effect.label}}</a></p>
                <ul class="flexcol">
                    {{#each effect.changes as |change|}}
                    <li class="flexrow">
                        <p class="key">{{ageffect change.key ../../data.config.ageEffectsOptions}}</p>
                        <p class="operation">
                            {{#if (eq change.mode 0)}}{{ localize "EFFECT.MODE_CUSTOM" }}{{/if}}
                            {{#if (eq change.mode 1)}}{{ localize "EFFECT.MODE_MULTIPLY" }}{{/if}}
                            {{#if (eq change.mode 2)}}{{ localize "EFFECT.MODE_ADD" }}{{/if}}
                            {{#if (eq change.mode 3)}}{{ localize "EFFECT.MODE_DOWNGRADE" }}{{/if}}
                            {{#if (eq change.mode 4)}}{{ localize "EFFECT.MODE_UPGRADE" }}{{/if}}
                            {{#if (eq change.mode 5)}}{{ localize "EFFECT.MODE_OVERRIDE" }}{{/if}}
                        </p>
                        <p class="value">{{change.value}}</p>
                    </li>
                    {{/each}}
                </ul>
                <a class="active-effect"><i class="fa fa-check" aria-hidden="true"></i></a>
                <a class="edit-effect"><i class="fas fa-edit"></i></a>
                <a class="remove-effect"><i class="fas fa-trash"></i></a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
{{#if data.data.useConditions}}
{{!-- Conditions Block --}}
{{> "systems/age-system/templates/partials/conditions-block.hbs"}}
{{/if}}