{{!-- Sheet Tab Navigation --}}

{{#if data.config.healthSys.useInjury}}
{{> "systems/age-system/templates/partials/char-sheet-injury-bar.hbs"}}
{{/if}}
{{!-- Stats Block --}}
<div class="flexrow">

    {{!-- Conviction block --}}
    {{#if data.data.useConviction}}
    <div class="flexcol general-stats">
        <div class="top-row colorset-first-tier">{{localize "age-system.conviction"}}</div>
        <div class="main-value">
            <input type="number" name="data.conviction.value" value="{{data.data.conviction.value}}" data-dtype="Number" />
        </div>
        <div class="stat-modifiers flexrow no-flexwrap">
            <input type="number" class="" name="data.conviction.set" value="{{data.data.conviction.set}}" data-dtype="Number" />
            <label>{{localize "age-system.maximum"}}</label>
        </div>
        <div class="bottom-row"></div>
    </div>
    {{/if}}

    {{!-- Fatigue block --}}
    {{#if data.data.useFatigue}}
    <div class="flexcol general-stats">
        <div class="top-row colorset-first-tier">{{localize "age-system.fatigue"}}</div>
        <div class="main-value">
            <input type="number" name="data.fatigue.entered" min="0" max="{{data.data.fatigue.max}}" value="{{data.data.fatigue.entered}}" data-dtype="Number" />
        </div>
        <div class="stat-modifiers flexrow no-flexwrap">
            <input type="number" class="" disabled name="data.fatigue.max" value="{{data.data.fatigue.max}}" data-dtype="Number" />
            <label>{{localize "age-system.maximum"}}</label>
        </div>
        <div class="bottom-row">
            <input type="text" disabled name="data.fatigue.status" value="{{data.data.fatigue.status}}" data-dtype="Number" />
        </div>
    </div>
    {{/if}}

    {{!-- Speed block --}}
    <div class="flexcol general-stats">
        <div class="top-row colorset-first-tier">{{localize "age-system.speed"}}</div>
        <input type="number" class="main-value" disabled name="data.speed.total" value="{{data.data.speed.total}}" data-dtype="Number" />
        <div class="stat-modifiers flexcol">
            <div class="flexrow no-flexwrap">
                <input type="number" class="" name="data.speed.base" value="{{data.data.speed.base}}" data-dtype="Number" />
                <label class="">{{localize "age-system.base"}}</label>
            </div>
            <div class="flexrow no-flexwrap">
                <input type="number" class="" disabled name="data.speed.mod" value="{{data.data.speed.mod}}" data-dtype="Number" />
                <label class="">{{localize "age-system.mod"}}</label>
            </div>
            <div class="flexrow no-flexwrap">
                <input disabled type="number" class="bottom-input" name="data.speed.total" value="{{data.data.speed.total}}" data-dtype="Number" />
                <label>{{localize "age-system.move"}}</label>
            </div>
        </div>
    </div>
        
    {{!-- Defense block --}}
    <div class="flexcol general-stats">
        <div class="top-row colorset-first-tier">{{localize "age-system.defense"}}</div>
        <input type="number" disabled class="main-value" name="data.defense.total" value="{{data.data.defense.total}}" data-dtype="Number" />
        <div class="stat-modifiers flexcol">
            <div class="flexrow no-flexwrap">
                <input type="number" class=""  name="data.defense.base" value="{{data.data.defense.base}}" data-dtype="Number" />
                <label class="">{{localize "age-system.base"}}</label>
            </div>
            <div class="flexrow no-flexwrap">
                <input type="number" class="" name="data.defense.gameModeBonus" value="{{data.data.defense.gameModeBonus}}" data-dtype="Number" />
                <label class="">{{localize "age-system.gameModeBonus"}}</label>
            </div>
            <div class="flexrow no-flexwrap">
                <input type="number" class="" disabled name="data.defense.mod" value="{{data.data.defense.mod}}" data-dtype="Number" />
                <label class="">{{localize "age-system.mod"}}</label>
            </div>
        </div>
        <div class="bottom-row"></div>
    </div>

    {{!-- Toughness block --}}
    {{#if data.config.healthSys.useToughness}}
    <div class="flexcol general-stats larger">
        <div class="top-row colorset-first-tier">
            {{#if data.config.healthSys.useInjury}}
            <a class="roll-toughness feature-controls"><i class="fas fa-dice"></i></a>
            {{/if}}
            {{localize "age-system.toughness"}}
        </div>
        <input type="number" disabled class="main-value" name="data.armor.toughness.total" value="{{data.data.armor.toughness.total}}" data-dtype="Number" />
        <div class="stat-modifiers flexcol">
            <div class="flexrow no-flexwrap">
                <input type="number" class="" name="data.armor.toughness.gameModeBonus" value="{{data.data.armor.toughness.gameModeBonus}}" data-dtype="Number" />
                <label class="">{{localize "age-system.gameModeBonus"}}</label>
            </div>
            <div class="flexrow no-flexwrap">
                <input type="number" class="" disabled name="data.armor.toughness.mod" value="{{data.data.armor.toughness.mod}}" data-dtype="Number" />
                <label class="">{{localize "age-system.mod"}}</label>
            </div>
        </div>
        <div class="bottom-row"></div>
    </div>
    {{/if}}

    {{!-- Currency/Resource/Income block --}}
    {{#if data.data.useCurrency}}
    <div class="flexcol general-stats">
        <div class="top-row colorset-first-tier flex-justify-center">{{localize "SETTINGS.wealthTypeCurrency"}}</div>
        <div class="main-value flexcol">
            <input type="number" class="main-value" name="data.resources.base" value="{{data.data.resources.base}}" data-dtype="Number" />
        </div>
    </div>
    {{/if}}
    {{#if data.data.useCoins}}
    <div class="flexcol general-stats">
        <div class="top-row colorset-first-tier flexrow no-flexwrap resources flex-justify-center">
            {{localize "age-system.coins"}}
        </div>
        <div class="flexcol stats-modifiers coins">
            <div class="flexrow no-flexwrap flex-align-center">
                <input type="number" class="" name="data.gp" value="{{data.data.gp}}" data-dtype="Number" />
                <label class="">{{localize "age-system.gp"}}</label>
            </div>
            <div class="flexrow no-flexwrap flex-align-center">
                <input type="number" class="" name="data.sp" value="{{data.data.sp}}" data-dtype="Number" />
                <label class="">{{localize "age-system.sp"}}</label>
            </div>
            <div class="flexrow no-flexwrap flex-align-center">
                <input type="number" class="" name="data.cp" value="{{data.data.cp}}" data-dtype="Number" />
                <label class="">{{localize "age-system.cp"}}</label>
            </div>
        </div>
        <div class="bottom-row"></div>
    </div>            
    {{/if}}
    {{#if (or data.data.useIncome data.data.useResources)}}
    <div class="flexcol general-stats">
        <div class="top-row colorset-first-tier flexrow no-flexwrap resources flex-justify-center">
            <a class="roll-resources feature-controls"><i class="fas fa-dice"></i></a>
            {{#if data.data.useResources}}{{localize "SETTINGS.wealthTypeResources"}}{{/if}}{{#if data.data.useIncome}}{{localize "SETTINGS.wealthTypeIncome"}}{{/if}}
        </div>
        <input type="number" disabled class="main-value" name="data.resources.total" value="{{data.data.resources.total}}" data-dtype="Number" />
        <div class="stat-modifiers flexcol">
            <div class="flexrow no-flexwrap">
                <input type="number" class="" name="data.resources.base" value="{{data.data.resources.base}}" data-dtype="Number" />
                <label class="">{{localize "age-system.base"}}</label>
            </div>
            <div class="flexrow no-flexwrap">
                <input type="number" class="" name="data.resources.mod" value="{{data.data.resources.mod}}" data-dtype="Number" />
                <label class="">{{localize "age-system.mod"}}</label>
            </div>
        </div>
        <div class="bottom-row"></div>
    </div>
    {{/if}}

    {{!-- Armor block --}}
    <div class="flexcol general-stats">
        <div class="top-row colorset-first-tier">{{localize "age-system.armor"}}</div>
        <div class="main-value flexcol armor">
            <div>{{data.data.armor.impact}}{{#if data.config.healthSys.useBallistic}}{{localize "age-system.impactIndex"}}{{/if}}</div>
            {{#if data.config.healthSys.useBallistic}}
            <div>{{data.data.armor.ballistic}}{{localize "age-system.ballisticIndex"}}</div>
            {{/if}}
        </div>
        <div class="stat-modifiers flexrow no-flexwrap">
            <input type="number" disabled name="data.armor.penalty" value="{{data.data.armor.penalty}}" data-dtype="Number" />                
            <label>{{localize "age-system.armorPenalty"}}</label>
        </div>
        <div class="bottom-row"></div>
    </div>

    {{#if (or data.config.healthSys.useHealth data.config.healthSys.useFortune)}}
    {{!-- Health/Fortune block --}}
    <div class="flexcol general-stats">
        <div class="top-row colorset-first-tier">{{data.config.healthSys.healthName}}</div>
        <div class="main-value">
            <input type="number" name="data.health.value" value="{{data.data.health.value}}" data-dtype="Number" />
        </div>
        <div class="flexcol stat-modifiers flex-align-center no-flexwrap">
            <div class="flexcol no-flexwrap">
                {{#if (ne data.data.health.set data.data.health.max)}}
                <input type="number" class="colorset-second-tier" number-type="five-digits" disabled name="data.health.max" value="{{data.data.health.max}}" data-dtype="Number" />
                {{/if}}
                <input type="number" number-type="five-digits" name="data.health.set" value="{{data.data.health.set}}" data-dtype="Number" />
            </div>
            <label>{{localize "age-system.maximum"}}</label>
        </div>
    </div>
    {{/if}}

    {{#if data.config.healthSys.useVitality}}
    {{!-- Vitality block --}}
    <div class="flexcol general-stats">
        <div class="top-row colorset-first-tier">{{data.config.healthSys.healthName}}</div>
        <div class="main-value">
            <input type="number" name="data.vitality.value" value="{{data.data.vitality.value}}" data-dtype="Number" />
        </div>
        <div class="flexcol stat-modifiers flex-align-center no-flexwrap">
            <div class="flexcol no-flexwrap">
                {{#if (ne data.data.vitality.set data.data.vitality.max)}}
                <input type="number" class="colorset-second-tier" number-type="five-digits" disabled name="data.health.max" value="{{data.data.vitality.max}}" data-dtype="Number" />
                {{/if}}
                <input type="number" number-type="five-digits" name="data.vitality.set" value="{{data.data.vitality.set}}" data-dtype="Number" />
            </div>
            <label>{{localize "age-system.maximum"}}</label>
        </div>
    </div>
    {{/if}}    

    {{!-- Power Points block --}}
    {{#if data.data.usePowerPoints}}
    <div class="flexcol general-stats">
        <div class="top-row colorset-first-tier">{{localize "age-system.powerPointsIndex"}}</div>
        <div class="main-value">
            <input type="number" name="data.powerPoints.value" value="{{data.data.powerPoints.value}}" data-dtype="Number" />
        </div>
        <div class="flexcol stat-modifiers flex-align-center no-flexwrap">
            <div class="flexcol no-flexwrap">
                {{#if (ne data.data.powerPoints.set data.data.powerPoints.max)}}
                <input type="number" class="colorset-second-tier" number-type="five-digits" disabled name="data.powerPoints.max" value="{{data.health.max}}" data-dtype="Number" />
                {{/if}}
                <input type="number" number-type="five-digits" name="data.powerPoints.set" value="{{data.data.powerPoints.set}}" data-dtype="Number" />
            </div>
            <label>{{localize "age-system.maximum"}}</label>
        </div>
    </div> 
    {{/if}}

</div>

{{!-- Gaming Assist Bar --}}
{{> "systems/age-system/templates/partials/play-aid-bar.hbs"}}

<div class="flexrow">
    {{!-- Sheet's 1st Column --}}
    <div class="col-1">

        {{!-- Attributes' Blocks --}}
        {{#each data.config.abilities as |name type|}}
        <div class="ability-box flexcol {{type}}">
            <div class="flexrow abl-header colorset-first-tier feature-controls" data-abl-id="{{type}}">
                <div class="abl-name">
                    <a class="roll-ability feature-controls" data-abl-id="{{type}}"><i class="fas fa-dice"></i></a>
                    <label for="data.abilities.{{type}}.value">{{name}}</label>
                </div>
                <input type="checkbox" name="data.abilities.{{type}}.primary" {{#with (lookup ../data.data.abilities [type])~}}{{#if primary}}checked{{/if}}{{/with}} class="primary-secondary" />
                <input type="checkbox" name="data.abilities.{{type}}.lastUp" {{#with (lookup ../data.data.abilities [type])~}}{{#if lastUp}}checked{{/if}}{{/with}} class="last-up" />
                {{!-- Value with modifiers applied --}}
                <input type="number" class="abl-value total colorset-second-tier" disabled name="data.abilities.{{type}}.total" value="{{#with (lookup ../data.data.abilities [type])~}}{{total}}{{/with}}" data-dtype="Number" />
                <input type="number" class="abl-value original" name="data.abilities.{{type}}.value" value="{{#with (lookup ../data.data.abilities [type])~}}{{value}}{{/with}}" data-dtype="Number" />
            </div>
            <div class="owned-focus flexrow">
                {{#each ../data.focus as |item|}}
                {{#if (eq item.data.useAbl type)}}
                <div class="item-name item-box focus-options feature-controls colorset-third-tier" data-item-id="{{item._id}}" data-roll-type="{{../../data.config.ROLL_TYPE.FOCUS}}">
                    <a class="item-name roll-item{{#if item.data.improved}} improved-focus{{/if}}">{{item.name}}</a>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
        {{/each}}

    </div>

    <div class="col-2">
    
        {{!-- Talent Block --}}
        <div class="item-container">
            <div class="top-row colorset-first-tier">{{localize "age-system.talentContainer"}}</div>
            <div class="actor-items flexrow">
            {{#each data.talent as |item id|}}
                <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                    <div class="item-card flexrow">
                        <div class="main-data flexrow">
                            <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            <a class="item-show item-name">{{item.name}}{{#if item.data.shortDesc}} ({{item.data.shortDesc}}){{/if}}</a>
                        </div>
                        <div class="controls flexrow">
                            <a class="item-control item-equip {{#unless item.data.activate}} not-equiped{{/unless}}" title="{{localize "age-system.settings.equip"}}"><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>

        {{!-- Powers Block --}}
        <div class="item-container">
            <div class="top-row colorset-first-tier">{{localize "age-system.extraordinaryPowers"}}</div>
            <div class="actor-items flexrow">
            {{#each data.power as |item id|}}
                <div class="item-box flexrow feature-controls colorset-third-tier" draggable="true" data-item-id="{{item._id}}" data-roll-type="{{../data.config.ROLL_TYPE.POWER}}">
                    <div class="item-card flexrow">
                        <div class="main-data flexrow">
                            <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            <a class="item-show item-name">{{item.name}}</a>
                        </div>
                        <div class="controls flexrow">
                            <a class="item-control roll-item" title="{{localize "age-system.settings.attack"}}"><i class="fas fa-dice"></i></a>
                            {{#if item.data.causeDamage}}                            
                            <a class="item-control roll-damage" title="{{localize "age-system.rollDamage"}}"><i class="fas fa-fist-raised"></i></a>
                            {{/if}}
                            {{#if item.data.causeHealing}}
                            <a class="item-control roll-damage" title="{{localize "age-system.rollHealing"}}"><i class="fa fa-heartbeat"></i></a>
                            {{/if}}
                            <a class="item-control item-equip {{#unless item.data.activate}} not-equiped{{/unless}}" title="{{localize "age-system.settings.equip"}}"><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>

        {{!-- Weapon Block --}}
        <div class="item-container">
            <div class="top-row colorset-first-tier">{{localize "age-system.weaponContainer"}}</div>
            {{#if data.weaponGroups}}
            <div class="owned-wgroups colorset-second-tier">
                <label class="wgroup">{{localize "SETTINGS.weaponGroups"}}:</label>
                {{#each actor.data.data.wgroups as |wgroup|}}
                <span>&nbsp{{wgroup}}{{#if @last}}.{{else}},{{/if}}</span>
                {{/each}}
            </div>
            {{/if}}
            <div class="actor-items flexrow">
            {{#each data.weapon as |item id|}}
                <div class="item-box flexrow feature-controls colorset-third-tier" draggable="true" data-item-id="{{item._id}}" data-roll-type="{{../data.config.ROLL_TYPE.ATTACK}}">
                    <div class="item-card flexrow">
                        <div class="main-data flexrow">
                            <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            <a class="item-show item-name">{{item.name}}{{#if (ne item.data.quantity 1)}} ({{item.data.quantity}}){{/if}}</a>
                        </div>
                        <div class="controls flexrow">
                            <a class="item-control roll-item" title="{{localize "age-system.settings.attack"}}"><i class="fas fa-dice"></i></a>
                            <a class="item-control roll-damage" title="{{localize "age-system.rollDamage"}}"><i class="fas fa-fist-raised"></i></a>
                            <div class="flexcol item-qtd-control arrow-control">
                                <a><i class="fa fa-chevron-up change-qtd add" aria-hidden="true"></i></a>
                                <a><i class="fa fa-chevron-down change-qtd remove" aria-hidden="true"></i></a>
                            </div>
                            <a class="item-control item-equip{{#unless item.data.equiped}} not-equiped{{/unless}}" title="{{localize "age-system.settings.equip"}}"><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
        
        {{!-- Equipment Block --}}
        <div class="item-container">
            <div class="top-row colorset-first-tier">{{localize "age-system.equipmentContainer"}}</div>
            <div class="actor-items flexrow">
            {{#each data.equipment as |item id|}}
                <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                    <div class="item-card flexrow">
                        <div class="main-data flexrow">
                            <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            <a class="item-show item-name">{{item.name}}{{#if (ne item.data.quantity 1)}} ({{item.data.quantity}}){{/if}}</a>
                        </div>
                        <div class="controls flexrow">
                            <div class="flexcol item-qtd-control arrow-control">
                                <a><i class="fa fa-chevron-up change-qtd add" aria-hidden="true"></i></a>
                                <a><i class="fa fa-chevron-down change-qtd remove" aria-hidden="true"></i></a>
                            </div>
                            <a class="item-control item-equip{{#unless item.data.equiped}} not-equiped{{/unless}}" title="{{localize "age-system.settings.equip"}}"><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>

        {{!-- Stunts' Container --}}
        <div class="item-container">
            <div class="top-row colorset-first-tier">{{localize "age-system.stuntsContainer"}}</div>
            <div class="actor-items flexrow">
            {{#each data.stunts as |item id|}}
                <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                    <div class="item-card flexrow">
                        <div class="main-data flexrow">
                            <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            <a class="item-show item-name">[{{item.data.stuntPoints}} {{localize "age-system.settings.stuntPointsIndex"}}] {{item.name}}</a>
                        </div>
                        <div class="controls flexrow">
                            <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>

        {{!-- Relationship Container --}}
        <div class="item-container">
            <div class="top-row colorset-first-tier">{{localize "age-system.relationshipContainer"}}</div>
            <div class="actor-items flexrow">
            {{#each data.relationship as |item id|}}
                <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                    <div class="item-card flexrow">
                        <div class="main-data flexrow">
                            <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            <a class="item-show item-name">{{item.name}} [{{item.data.intensity}}]</a>
                        </div>
                        <div class="controls flexrow">
                            <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>

        {{!-- Honorifics' Container --}}
        <div class="item-container">
            <div class="top-row colorset-first-tier">{{localize "age-system.honorificsContainer"}}</div>
            <div class="actor-items flexrow">
            {{#each data.honorifics as |item id|}}
                <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                    <div class="item-card flexrow">
                        <div class="main-data flexrow">
                            <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                            <a class="item-show item-name">{{item.name}}</a>
                        </div>
                        <div class="controls flexrow">
                            <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>

        {{!-- Membership Container --}}
        <div class="item-container">
            <div class="top-row colorset-first-tier">{{localize "age-system.membershipContainer"}}</div>
            <div class="actor-items flexrow">
            {{#each data.membership as |item id|}}
                <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                    <div class="item-card flexrow">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <a class="item-show item-name">{{item.name}} [{{localize "age-system.rank"}} {{item.data.rank}}]</a>
                    </div>
                    <div class="flexrow fill-card">
                        <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
        
    </div>
</div>
