{{!-- Effects Tab --}}
<div class="item-container effects">
    {{!-- Conditions Block --}}
    {{> "systems/dragon-age-system/templates/partials/conditions-block.hbs"}}
    {{!-- Active Effects Block --}}
    <div class="actor-items flexrow">
        <ul class="item-container effects">
            <li class="top-row colorset-first-tier">{{localize "age-system.custom"}}</li>
            <li class="flexrow header colorset-first-tier">
                <p class="effect-name">{{localize "age-system.name"}}</p>
                <p class="effect-key">{{localize "age-system.key"}}</p>
                <p class="effect-operation">{{localize "age-system.operation"}}</p>
                <p class="effect-value">{{localize "age-system.value"}}</p>
                <p class="effect-add"><a><i class="fa fa-plus-circle" aria-hidden="true"></i></a></p>
            </li>
            {{#each data.effects as |effect|}}
            <li class="flexrow colorset-third-tier elements feature-controls" data-effect-id="{{effect._id}}">
                <div class="effect-name flexrow">
                    <img class="effect-icon" src="{{effect.icon}}">
                    {{#if (ne effect.flags.age-system.conditionType "custom")}}
                    <p>{{localize effect.label}}</p>
                    {{else}}
                    <p>{{effect.label}}</p>
                    {{/if}}
                </div>
                {{#if effect.changes}}
                <div class="flexcol effect-key">
                    {{#each effect.changes as |change|}}
                    <p>{{#if change.key}}{{ageffect change.key ../../data.config.ageEffectsOptions}}{{else}}-{{/if}}</p>
                    {{/each}}
                </div>
                <div class="flexcol effect-operation">
                    {{#each effect.changes as |change|}}
                    <p>{{effectModeName change.mode}}</p>
                    {{/each}}
                </div>
                <div class="flexcol effect-value">
                    {{#each effect.changes as |change|}}
                    <p>{{#if change.key}}{{change.value}}{{else}}-{{/if}}</p>
                    {{/each}}
                </div>
                {{else}}
                <div class="flexcol effect-key"><p>{{localize "age-system.rof.none"}}</p></div>
                <div class="flexcol effect-operation"><p>{{localize "age-system.rof.none"}}</p></div>
                <div class="flexcol effect-value"><p>{{localize "age-system.rof.none"}}</p></div>
                {{/if}}
                <div class="effect-add">
                    {{#unless (and effect.flags.age-system (ne effect.flags.age-system.conditionType ../inUseStatusEffects))}}
                    <a class="effect-active icon {{#if effect.disabled}}inactive{{/if}}"><i class="fas fa-power-off"></i></a>
                    <a class="effect-edit icon"><i class="fas fa-edit"></i></a>
                    {{/unless}}
                    <a class="effect-remove icon"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>

    {{!-- Item Modifiers Block --}}
    <ul class="item-group resource modifiers colorset-third-tier">
        <li class="title colorset-first-tier">{{localize "age-system.itemMod"}}</li>
        <li class="header flexrow colorset-first-tier">
            <span class="mod-name">{{localize "age-system.type"}}</span>
            <span class="mod-value">{{localize "age-system.value"}}</span>
            <span class="mod-source">{{localize "age-system.source"}}</span>
        </li>
        {{#each itemMods as |modGroup modType|}}
        {{#unless @first}}
        <hr>
        {{/unless}}
        <li class="flexrow extra-margin">
            <span class="mod-name">{{localize (concat "age-system.bonus." modType)}}</span>
            <ul class="modifier-item-details">
                {{#each modGroup.parts as |mod|}}
                <li class="flexrow">
                    <div class="flexcol mod-value">
                        <div class="flexrow value-box">
                            {{#if mod.valid}}
                            {{#if (eq modType "focus")}}
                            <span class="number">{{mod.conditions.focus}}, {{mod.formula}}</span>
                            {{else}}
                            <span class="value-numeric">{{mod.formula}}</span>
                            {{/if}}
                            <span class="icon"><a class="mod-active icon {{#unless mod.isActive}}inactive{{/unless}}" data-key="{{mod.key}}" data-item-id="{{mod.itemId}}"><i class="fas fa-power-off"></i></a></span>
                            {{else}}
                            <div class="formula-error">
                                <span><i class="fa fa-times" aria-hidden="true"></i> {{localize (concat "age-system.invalidMod" mod.ftype)}}</span>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="flexcol mod-source">
                        <span class="item-edit" data-item-id={{mod.itemId}}><a>{{mod.itemName}}</a></span>
                    </div>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>
</div>