{{!-- Injury Bar --}}
<div class="injury-bar flexrow general-aid-bar colorset-first-tier">

    <div class="injury-box">
        <div>{{localize "age-system.injury"}} <a><i class="fa fa-heartbeat heal-all-injuries" aria-hidden="true"></i></a></div>
        <div class="flexrow injury-degrees">
            <div class="flexrow degree">
                <div>{{localize "age-system.injuryLight"}}</div>
                <input type="number" name="data.injury.degrees.light" disabled value="{{data.data.injury.degrees.light}}" data-dtype="Number" />
                <div class="flexcol arrow-control light">
                    <a><i class="fa fa-chevron-up change-injury add" aria-hidden="true"></i></a>
                    <a><i class="fa fa-chevron-down change-injury remove" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="flexrow degree">
                <div>{{localize "age-system.injurySerious"}}</div>
                <input type="number" name="data.injury.degrees.serious" disabled value="{{data.data.injury.degrees.serious}}" data-dtype="Number" />
                <div class="flexcol arrow-control serious">
                    <a><i class="fa fa-chevron-up change-injury add" aria-hidden="true"></i></a>
                    <a><i class="fa fa-chevron-down change-injury remove" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="flexrow degree">
                <div>{{localize "age-system.injurySevere"}}</div>
                <input type="number" name="data.injury.degrees.severe" disabled value="{{data.data.injury.degrees.severe}}" data-dtype="Number" />
                <div class="flexcol arrow-control severe">
                    <a><i class="fa fa-chevron-up change-injury add" aria-hidden="true"></i></a>
                    <a><i class="fa fa-chevron-down change-injury remove" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="marks-box">
        <div>{{localize "age-system.injuryMarks"}} <a><i class="fa fa-undo refresh-injury-marks" aria-hidden="true"></i></a></div>
        <div class="flexrow marks-control">
            {{#unless (eq data.injury.degrees.severeMult 1)}}
            <div class="flexcol tracker-container">
                {{#each data.data.injury.marksArray as |tracker|}}
                {{#if tracker}}
                <div class="severe-injury-tracker"></div>
                {{/if}}
                {{/each}}
            </div>
            {{/unless}}
            <input type="number" name="data.injury.marks" disabled value="{{data.data.injury.marks}}" data-dtype="Number" />
            <div class="flexcol arrow-control mark">
                {{!-- <a><i class="fa fa-chevron-up change-injury add" aria-hidden="true"></i></a> --}}
                <a><i class="fa fa-chevron-down change-injury remove" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

</div>

{{#if data.config.healthSys.useVitality}}
{{!-- Vitality block --}}
{{!-- <div class="flexcol general-stats">
    <div class="top-row colorset-first-tier">{{localize "age-system.vitality"}}</div>
    <div class="main-value">
        <input type="number" name="data.injury.vitality.value" value="{{data.data.injury.vitality.value}}" data-dtype="Number" />
    </div>
    <div class="flexcol stat-modifiers flex-align-center no-flexwrap">
        <div class="flexcol no-flexwrap">
            {{#if (ne data.data.health.set data.data.health.max)}}
            <input type="number" class="colorset-second-tier" number-type="five-digits" disabled name="data.injury.vitality.max" value="{{data.data.injury.vitality.max}}" data-dtype="Number" />
            {{/if}}
            <input type="number" number-type="five-digits" name="data.injury.vitality.set" value="{{data.data.injury.vitality.set}}" data-dtype="Number" />
        </div>
        <label>{{localize "age-system.maximum"}}</label>
    </div>
</div> --}}
{{/if}}