{{!-- Persona Tab --}}

<div class="flexrow container">
    <label for="">{{localize "age-system.drive.drive"}}</label>
    <input type="text" name="data.drive.name" value="{{data.data.drive.name}}">          

    <label for="">{{localize "age-system.drive.quality"}}</label>
    <input type="text" name="data.drive.quality" value="{{data.data.drive.quality}}">          

    <label for="">{{localize "age-system.drive.downfall"}}</label>
    <input type="text" name="data.drive.downfall" value="{{data.data.drive.downfall}}">          
</div>

<div class="flexrow goals-language">
    <div class="flexcol goals container">
        <label>{{localize "age-system.goals"}}</label>
        <textarea class="free-text" name="data.goals" cols="30" rows="10">{{data.data.goals}}</textarea>
    </div>
    <div class="spacer"></div>
    <div class="flexcol language container">
        <label>{{localize "age-system.language"}}</label>
        <textarea class="free-text" name="data.language" cols="30" rows="10">{{data.data.language}}</textarea>
    </div>
</div>

<div class="flexcol features container">
    <label for="">{{localize "age-system.features"}}</label>
    <textarea class="free-text" name="data.traits" cols="30" rows="10">{{data.data.traits}}</textarea>
</div>

{{#if isGM}}
<div class="flexcol secret-note container">
    <label for="">{{localize "age-system.gmNotes"}}</label>
    <textarea class="free-text" name="data.gmNotes" cols="30" rows="10">{{data.data.gmNotes}}</textarea>
</div>
{{/if}}

{{#if owner}}
<div class="flexcol secret-note container">
    <label for="">{{localize "age-system.secretNote"}}</label>
    <textarea class="free-text" name="data.secretNote" cols="30" rows="10">{{data.data.secretNote}}</textarea>
</div>
{{/if}}

<div class="flexcol bio container">
    <label for="">{{localize "age-system.bio"}}</label>
    {{editor content=data.data.features target="data.features" button=true owner=owner editable=editable}}
    {{!-- {{editor content=data.data.features target="data.features" button=true owner=owner editable=true}} --}}
</div>