<div class="item-container conditions">
    <div class="top-row colorset-first-tier">{{localize "age-system.conditionsName"}}</div>
    <div class="actor-items flexrow">
        {{#each data.conditions as |condition|}}
        <div class="item-box conditions flexrow feature-controls {{#if condition.active}}colorset-second-tier{{else}}colorset-third-tier{{/if}}" data-condition-id="{{condition.id}}">
            <div class="item-name flexrow">
                <div class="tooltip-container">
                    <p>{{condition.label}}</p>
                    <span class="container-tooltip-text colorset-second-tier">
                        {{#if (ne condition.flags.age-system.desc "")}}
                        <span><b>{{condition.label}}:</b> {{condition.flags.age-system.desc}}</span>
                        {{/if}}
                        {{#if condition.changes}}
                        <em>
                        <ul class="effect-changes">
                            <b>{{localize "EFFECT.TabEffects"}}</b>
                            {{#each condition.changes as |change|}}
                            <li>
                                <span>
                                    {{#if change.key}}{{change.key}}{{else}}-{{/if}} ({{effectModeName change.mode}}, {{#if change.key}}{{change.value}}{{else}}-{{/if}})
                                </span>
                            </li>
                            {{/each}}
                        </ul>
                        </em>
                        {{/if}}
                    </span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>