{{#if inChat}}
<div class="flexcol flex-justify-center damage-formula">
    <label>
        {{#if data.system.hasDamage}} {{localize "age-system.item.damage"}} {{/if}}
        {{#if data.system.hasHealing}} {{localize "age-system.item.healing"}} {{/if}}
    </label>
    {{!-- <p class="in-chat-text">{{concat data.system.nrDice "d" data.system.diceType "+" data.system.extraValue}}{{#when data.system.dmgAbl 'noteq' 'no-abl'}}{{concat "+" data.system.ablDamageValue}}{{/when}}</p> --}}
    <p class="in-chat-text">{{data.system.dmgFormula}}</p>
    {{#if data.hasDamage}}
    <p class="in-chat-text">{{localize (concat "age-system." data.system.dmgType)}}{{#if config.healthSys.useBallistic}} | {{localize (concat "age-system." data.system.dmgSource)}}{{/if}}</p>
    {{/if}}
    {{#if data.system.hasTest}}
    <label>{{localize "age-system.item.resistedEffect"}}</label>
    <p class="in-chat-text">{{concat data.system.damageResisted.nrDice "d" data.system.damageResisted.diceType "+" data.system.damageResisted.extraValue}}{{#when data.system.damageResisted.dmgAbl 'noteq' 'no-abl'}}{{concat "+" data.system.damageResisted.ablDamageValue}}{{/when}}</p>
    {{/if}}
</div>
{{else}}
<div class="flexcol">
    <div class="flexcol cause-damage">
        {{#if data.system.hasDamage}}
        <label>{{localize "age-system.item.damage"}}</label>
        {{/if}}
        {{#if data.system.hasHealing}}
        <label>{{localize "age-system.item.healing"}}</label>
        {{/if}}
        <div class="flexrow">
            <div class="flexrow damage-dice-field">
                {{#if config.healthSys.useInjury}}
                <input type="number" name="system.damageInjury" value="{{data.system.damageInjury}}" data-dtype="Number" />
                {{else}}
                <input type="number" name="system.nrDice" value="{{data.system.nrDice}}" data-dtype="Number" />
                <select name="system.diceType" class="dice-size">
                    {{#select data.system.diceType}}
                    <option value="6">{{localize "age-system.settings.d6"}}</option>
                    <option value="3">{{localize "age-system.settings.d3"}}</option>
                    {{/select}}
                </select>
                <span>{{localize "age-system.settings.plusSign"}}</span>
                <input type="number" name="system.extraValue" value="{{data.system.extraValue}}" data-dtype="Number" />
                {{/if}}
                <span>{{localize "age-system.settings.plusSign"}}</span>
                <select name="system.dmgAbl">
                    {{#select data.system.dmgAbl}}
                    <option value="no-abl">—</option>
                    {{#each config.abilities as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        {{#if data.system.hasDamage}}
        <div class="flexrow">
            {{#if config.healthSys.useBallistic}}
            <select name="system.dmgType">
                {{#select data.system.dmgType}}
                {{#each config.damageType as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
            {{/if}}
            <select name="system.dmgSource">
                {{#select data.system.dmgSource}}
                {{#each config.damageSource as |name source|}}
                <option value="{{source}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}
    </div>
    {{#if data.system.hasTest}}
    <div class="flexcol cause-damage">
        <label>{{localize "age-system.item.resistedEffect"}}</label>
        <div class="flexrow">
            <div class="flexrow damage-dice-field">
                {{#if config.healthSys.useInjury}}
                <input type="number" name="system.damageResisted.damageInjury" value="{{data.system.damageResisted.damageInjury}}" data-dtype="Number" />
                {{else}}
                <input type="number" name="system.damageResisted.nrDice" value="{{data.system.damageResisted.nrDice}}" data-dtype="Number" />
                <select name="system.damageResisted.diceType" class="dice-size">
                    {{#select data.system.damageResisted.diceType}}
                    <option value="6">{{localize "age-system.settings.d6"}}</option>
                    <option value="3">{{localize "age-system.settings.d3"}}</option>
                    {{/select}}
                </select>
                <span>{{localize "age-system.settings.plusSign"}}</span>
                <input type="number" name="system.damageResisted.extraValue" value="{{data.system.damageResisted.extraValue}}" data-dtype="Number" />
                {{/if}}
                <span>{{localize "age-system.settings.plusSign"}}</span>
                <select name="system.damageResisted.dmgAbl">
                    {{#select data.system.damageResisted.dmgAbl}}
                    <option value="no-abl">—</option>
                    {{#each config.abilities as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </div>
    {{/if}}      
</div>
{{/if}}