{{#if inChat}}
<div class="flexcol flex-justify-center damage-formula">
    <label>{{localize "age-system.item.damage"}}</label>
    <p class="in-chat-text">{{concat data.nrDice "d" data.diceType "+" data.extraValue}}{{#when data.dmgAbl 'noteq' 'no-abl'}}{{concat "+" data.ablDamageValue}}{{/when}}</p>
    <p class="in-chat-text">{{localize (concat "age-system." data.dmgType)}} | {{localize (concat "age-system." data.dmgSource)}}</p>
    {{#if data.hasTest}}
    <label>{{localize "age-system.item.resistedEffect"}}</label>
    <p class="in-chat-text">{{concat data.damageResisted.nrDice "d" data.damageResisted.diceType "+" data.damageResisted.extraValue}}{{#when data.damageResisted.dmgAbl 'noteq' 'no-abl'}}{{concat "+" data.damageResisted.ablDamageValue}}{{/when}}</p>
    {{/if}}
</div>
{{else}}
<div class="flexcol">
    <div class="flexcol cause-damage">
        {{#if data.hasDamage}}
        <label>{{localize "age-system.item.damage"}}</label>
        {{/if}}
        {{#if data.hasHealing}}
        <label>{{localize "age-system.item.healing"}}</label>
        {{/if}}
        <div class="flexrow">
            <div class="flexrow damage-dice-field">
                <input type="number" name="data.nrDice" value="{{data.nrDice}}" data-dtype="Number" />
                <select name="data.diceType" class="dice-size">
                    {{#select data.diceType}}
                    <option value="6">{{localize "age-system.settings.d6"}}</option>
                    <option value="3">{{localize "age-system.settings.d3"}}</option>
                    {{/select}}
                </select>
                <span>{{localize "age-system.settings.plusSign"}}</span>
                <input type="number" name="data.extraValue" value="{{data.extraValue}}" data-dtype="Number" />
                <span>{{localize "age-system.settings.plusSign"}}</span>
                <select name="data.dmgAbl">
                    {{#select data.dmgAbl}}
                    <option value="no-abl">—</option>
                    {{#each config.abilities as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="flexrow">
            <select name="data.dmgType">
                {{#select data.dmgType}}
                {{#each config.damageType as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <select name="data.dmgSource">
                {{#select data.dmgSource}}
                {{#each config.damageSource as |name source|}}
                <option value="{{source}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    {{#if data.hasTest}}
    <div class="flexcol cause-damage">
        <label>{{localize "age-system.item.resistedEffect"}}</label>
        <div class="flexrow">
            <div class="flexrow damage-dice-field">
                <input type="number" name="data.damageResisted.nrDice" value="{{data.damageResisted.nrDice}}" data-dtype="Number" />
                <select name="data.damageResisted.diceType" class="dice-size">
                    {{#select data.damageResisted.diceType}}
                    <option value="6">{{localize "age-system.settings.d6"}}</option>
                    <option value="3">{{localize "age-system.settings.d3"}}</option>
                    {{/select}}
                </select>
                <span>{{localize "age-system.settings.plusSign"}}</span>
                <input type="number" name="data.damageResisted.extraValue" value="{{data.damageResisted.extraValue}}" data-dtype="Number" />
                <span>{{localize "age-system.settings.plusSign"}}</span>
                <select name="data.damageResisted.dmgAbl">
                    {{#select data.damageResisted.dmgAbl}}
                    <option value="no-abl">—</option>
                    {{#each config.abilities as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </div>
    {{/if}}      
</div>
{{/if}}