{{!-- Options Tab --}}
<section class="options-section">

    <ul class="resource item-group">
        <li class="title colorset-first-tier">
            {{localize "SETTINGS.weaponGroups"}}
        </li>
        <li class="colorset-third-tier flexrow">
            <p>
                {{#each weaponGroups as |wgroup|}}
                <a class="feature-controls select-options item-name wgroup-item item-box {{#if (haswgroup wgroup ../item.system.wgroups)}}colorset-first-tier{{else}}colorset-third-tier{{/if}}" data-wgroup-id="{{wgroup}}">
                    {{wgroup}}
                </a>
                {{/each}}
            </p>
        </li>
    </ul>

    <div class="attack-stats flexrow">
        <ul class="resource item-group">
            <li class="title colorset-first-tier">
                {{localize "age-system.item.damage"}}
            </li>
            <li class="colorset-third-tier flexcol sub-details ">
                {{#if config.healthSys.useInjury}}
                <input type="text" name="system.damageInjury" value="{{data.system.damageInjury}}"/>
                {{else}}
                <input type="text" name="system.damageFormula" value="{{data.system.damageFormula}}"/>
                {{/if}}
                <label class="">{{localize "age-system.formula"}}</label>
            </li>
            <li class="colorset-third-tier flexrow">
                <label for="">{{localize "age-system.abl"}}</label>
                <select name="system.dmgAbl">
                    {{#select data.system.dmgAbl}}
                    <option value="no-abl">—</option>
                    {{#each config.abilities as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </li>
            {{#if config.healthSys.useBallistic}}
            <li class="colorset-third-tier flexrow">
                <label class="colorset-third-tier">{{localize "age-system.type"}}</label>
                <select name="system.dmgType">
                    {{#select data.system.dmgType}}
                    {{#each config.damageType as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </li>
            {{/if}}
            <li class="colorset-third-tier flexrow">
                <label class="colorset-third-tier">{{localize "age-system.source"}}</label>
                <select name="system.dmgSource">
                    {{#select data.system.dmgSource}}
                    {{#each config.damageSource as |name source|}}
                    <option value="{{source}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </li>
        </ul>

        <ul class="resource item-group">
            <li class="title colorset-first-tier">
                {{localize "age-system.charOptions"}}
            </li>
            <li class="colorset-third-tier flexrow">
                <p>
                    <a class="select-options toggle-feature item-name item-box {{#if data.system.ranged}}colorset-first-tier{{else}}colorset-third-tier{{/if}}" data-feature="ranged">Ranged</a>
                    <a class="select-options toggle-feature item-name item-box {{#if data.system.reloadable}}colorset-first-tier{{else}}colorset-third-tier{{/if}}" data-feature="reloadable">Reloadable</a>
                </p>
            </li>
            {{#if data.system.ranged}}
            <li class="colorset-third-tier flexrow">
                <label>{{localize "age-system.item.range"}}</label>
                <input type="text" name="system.range" value="{{data.system.range}}" data-dtype="String" />
            </li>
            <li class="colorset-third-tier flexrow">
                <label>{{localize "age-system.item.range"}} ({{localize "age-system.maximum"}})</label>
                <input type="text" name="system.rangeMax" value="{{data.system.rangeMax}}" data-dtype="String" />
            </li>
            {{/if}}
        </ul>

    </div>

</section>