<form class="age-system item-chat-controls colorset-{{colorScheme}} colorset-selection flexrow feature-controls" data-item-id="{{itemId}}" data-owner-uuid="{{ownerUuid}}" autocomplete="off">
    {{#unless (and (eq item.type 'power') (eq item.system.hasRoll false))}}
    <button type="button" class="roll-item age-button attack">{{localize "age-system.chatCard.roll"}}</button>
    {{/unless}}
    {{#if (or item.hasDamage item.hasHealing)}}
    <button type="button" class="roll-item damage">{{#if item.hasDamage}}{{localize "age-system.chatCard.rollDamage"}}{{else}}{{localize "age-system.chatCard.rollHealing"}}{{/if}}</button>
    {{/if}}
</form>