<div class="flexrow general-aid-bar colorset-first-tier">

    {{!-- Advancement Points Log --}}
    <div class="flexcol flex-align-center">
        <label>{{localize "age-system.advPoints"}}</label>
        <input type="number" name="data.xp.advPoints" value="{{data.data.xp.advPoints}}" data-dtype="Number" />
    </div>

    {{!-- Threshold Tracker --}}
    <div class="flexcol flex-align-center">
        <label>{{localize "age-system.testThreshold"}}</label>
        <input type="number" name="data.advTestThreshold" value="{{data.data.advTestThreshold}}" data-dtype="Number" />
    </div>

    {{!-- Aim Control --}}
    <div class="flexcol flex-align-center feature-controls">
        <label>{{localize "age-system.aim"}}</label>
        <div class="flexrow no-flexwrap">
            <input type="number" name="data.aim.value" value="{{data.data.aim.value}}" data-dtype="Number" />
            <input type="checkbox" name="data.aim.active" {{checked data.data.aim.active}} class="checkbox"/>
        </div>
    </div>

    {{!-- All Out Attack Control --}}
    <div class="flexcol flex-align-center">
        <label>{{localize "age-system.allOutAttack"}}</label>
        <div class="flexrow no-flexwrap">
            <input type="number" name="data.allOutAttack.dmgBonus" value="{{data.data.allOutAttack.dmgBonus}}" data-dtype="Number" />
            <div>+</div>
            <input type="number" name="data.allOutAttack.defensePenalty" value="{{data.data.allOutAttack.defensePenalty}}" data-dtype="Number" />
            <div>-</div>
            <input type="checkbox" name="data.allOutAttack.active" {{checked data.data.allOutAttack.active}} class="checkbox"/>
        </div>
    </div>

    {{!-- Defend Maneuver Control --}}
    <div class="flexcol flex-align-center feature-controls" data-guardup-active="{{data.data.guardUp.active}}">
        <label>{{localize "age-system.defendManeuver"}}</label>
        <div class="flexrow no-flexwrap">
            <input type="number" name="data.defend.defenseBonus" value="{{data.data.defend.defenseBonus}}" data-dtype="Number" />
            <input type="checkbox" name="data.defend.active" class="defend-maneuver" {{checked data.data.defend.active}} class="checkbox"/>
        </div>
    </div>

    {{!-- Guard Up Maneuver Control --}}
    <div class="flexcol flex-align-center feature-controls" data-defend-active="{{data.data.defend.active}}">
        <label>{{localize "age-system.guardUp"}}</label>
        <div class="flexrow no-flexwrap">
            <input type="number" name="data.guardUp.defenseBonus" value="{{data.data.guardUp.defenseBonus}}" data-dtype="Number" />
            <div>+</div>
            <input type="number" name="data.guardUp.testPenalty" value="{{data.data.guardUp.testPenalty}}" data-dtype="Number" />
            <div>-</div>
            <input type="checkbox" class="guardup-maneuver" name="data.guardUp.active" {{checked data.data.guardUp.active}} class="checkbox"/>
        </div>
    </div>

    {{!-- Initiative Mod --}}
    <div class="flexcol flex-align-center">
        <label>{{localize "age-system.initiative"}}</label>
        <div class="flexrow no-flexwrap">
            <input type="number" disabled name="data.initiative" value="{{data.data.initiative}}" data-dtype="Number" />
            <input type="number" name="data.initiativeMod" value="{{data.data.initiativeMod}}" data-dtype="Number" />
            <label>{{localize "age-system.mod"}}</label>
        </div>
    </div>

    {{!-- Stat Block View --}}
    {{!-- TODO - It is still necessary to design this view - It is gonna be a whole new character sheet, based on --}}
    {{!-- monsters' stats block presented on AGE System books --}}
    {{!-- <div class="flexcol flex-align-center">
        <label>{{localize "age-system.settings.statBlockViewEnter"}}</label>
        <input type="checkbox" disabled name="data.statBlockView" {{checked data.statBlockView}} data-dtype="Number" />
    </div>         --}}
</div>