<form class="{{cssClass}} age-system colorset-{{colorset}}" autocomplete="off">
	<div id="age-roller-container">
		<div id="age-roller" class="flexcol age-opacity-hover">
			<div id="age-roller-drag"></div>
			<img src="systems/age-system/resources/imgs/ui-elements/cubes.svg">
		</div>
		<div id="age-roller-options">
			<ul>
				<li class="colorset-second-tier roll" data-roll="d666">
					d666
				</li>
				<li class="colorset-second-tier roll" data-roll="d66">
					d66
				</li>
				<li class="colorset-second-tier breather-tokens">
					{{localize "age-system.breather"}}
				</li>
				{{#if isGM}}
				<li class="colorset-second-tier conditions-workshop">
					{{localize "age-system.conditionsWorkshop"}}
				</li>
				{{#if reqLang}}
				<li class="colorset-second-tier age-importer">
					{{localize "age-system.ageImporter"}}
				</li>
				{{/if}}
				{{/if}}
				<li class="colorset-second-tier">
					<a href="{{wikiLink}}">wiki</a>
				</li>
			</ul>
		</div>
	</div>
</form>