<form class="age-system base-age-roll colorset-selection {{colorScheme}}">
    <div class="feature-controls"
        data-stunt-die="{{ageRollSummary.dice.d3}}"
        data-actor-id="{{actorId}}"
        data-actor-token="{{isToken}}"
        data-atkdmg-trade="{{atkDmgTradeOff}}"
        {{#if focusId}} data-focus-id="{{focusId}}" {{/if}}
        {{#if itemId}} data-item-id="{{itemId}}" {{/if}}>

        <div class="flexcol roll-card regular-roll-card">

            <div>
                <h3 class="action-details colorset-first-tier">{{headerFlavor}}</h3>
                <div class="dice-show trait-test flexrow">
                    {{#each ageRollSummary.dice as |diceFace|}}
                        {{#when diceFace 'eq' 1}}
                        <i class="fas fa-dice-one fa-4x"></i>
                        {{/when}} {{#when diceFace 'eq' 2}}
                        <i class="fas fa-dice-two fa-4x"></i>
                        {{/when}} {{#when diceFace 'eq' 3}}
                        <i class="fas fa-dice-three fa-4x"></i>
                        {{/when}} {{#when diceFace 'eq' 4}}
                        <i class="fas fa-dice-four fa-4x"></i>
                        {{/when}} {{#when diceFace 'eq' 5}}
                        <i class="fas fa-dice-five fa-4x"></i>
                        {{/when}} {{#when diceFace 'eq' 6}}
                        <i class="fas fa-dice-six fa-4x"></i>
                        {{/when}}
                    {{/each}}
                </div>
                <div class="flexrow roll-mod total-roll">
                    <h3 class="line-header">{{localize "age-system.settings.totalRolled"}} {{#if rollTN}} {{#if isSuccess}} ({{localize "age-system.success"}}) {{else}} ({{localize "age-system.miss"}}) {{/if}} {{/if}}</h3>
                    <h3 class="line-value">{{roll.total}}</h3>
                </div>
                <div class="flexrow roll-mod{{#if ageRollSummary.stunt}} stunted{{/if}}">
                    <div class="line-header">{{localize "age-system.settings.stuntPoints"}}</div>
                    <div class="line-value">{{#if ageRollSummary.stunt}}{{ageRollSummary.dice.d3}}{{else}}-{{/if}}</div>
                </div>

                {{#each partials as |part key|}}
                <div class="flexrow roll-mod">
                    <div class="line-header">{{part.label}}</div>
                    <div class="line-value">{{part.value}}</div>
                </div>
                {{/each}}
                
            </div>

            {{#if (ne rollType 'fatigue')}}
            <div class="age-chat-buttons flexcol">
                {{#if (or hasDamage hasHealing)}}
                <div class="age-chat-buttons-grid">
            
                    <a class="age-button roll-damage colorset-second-tier main-dmg">
                        {{#if hasTest}}
                            {{#if hasDamage}} {{localize "age-system.chatCard.rollFullDamage"}}
                            {{else}} {{localize "age-system.chatCard.rollFullHealing"}} {{/if}}
                        {{else}}
                            {{#if hasDamage}} {{localize "age-system.chatCard.rollDamage"}}
                            {{else}} {{localize "age-system.chatCard.rollHealing"}} {{/if}}
                        {{/if}}
                    </a>

                    <a class="age-button roll-damage add-stunt-damage colorset-second-tier sd-dmg">
                        {{localize "age-system.chatCard.addStuntDie"}}
                    </a>

                    <a class="age-button roll-damage add-focus-damage colorset-second-tier focus-dmg">
                        <div class="flexrow flex-justify-center flex-align-center">
                            {{localize "age-system.chatCard.addFocus"}}
                        </div>
                    </a>
               
                    <a class="age-button roll-damage add-stunt-damage add-focus-damage colorset-second-tier both-dmg">
                        <div class="flexrow flex-justify-center flex-align-center">
                            {{localize "age-system.chatCard.addFocusSD"}}
                        </div>
                    </a>

                </div>
                {{/if}}

                {{#if (and (or hasDamage hasHealing) hasTest)}}
                <div class="age-chat-buttons-grid">
            
                    <a class="age-button roll-damage resisted colorset-second-tier main-dmg">
                        <div class="flexrow flex-justify-center flex-align-center">
                            {{#if hasDamage}} {{localize "age-system.chatCard.rollResistedDamage"}}
                            {{else}} {{localize "age-system.chatCard.rollResistedHealing"}} {{/if}}
                        </div>
                    </a>

                    <a class="age-button roll-damage add-stunt-damage resisted colorset-second-tier sd-dmg">
                        <div class="flexrow flex-justify-center flex-align-center">
                            {{localize "age-system.chatCard.addStuntDie"}}
                        </div>
                    </a>

                    <a class="age-button roll-damage add-focus-damage resisted colorset-second-tier focus-dmg">
                        <div class="flexrow flex-justify-center flex-align-center">
                            {{localize "age-system.chatCard.addFocus"}}
                        </div>
                    </a>

                    <a class="age-button roll-damage add-stunt-damage add-focus-damage colorset-second-tier resisted both-dmg">
                        <div class="flexrow flex-justify-center flex-align-center">
                            {{localize "age-system.chatCard.addFocusSD"}}
                        </div>
                    </a>
              
                </div>
                {{/if}}

                {{#if usingFatigue}}
                {{#if hasFatigue}}
                <a class="age-button roll-fatigue flexrow colorset-second-tier">
                    <div class="flexrow flex-justify-center flex-align-center">
                        <div>{{localize "age-system.rollFatigue"}} </div>
                        <i class="fas fa-head-side-cough"></i>
                    </div>
                </a>
                {{/if}}
                {{/if}}
                {{!-- <button class="roll-damage">{{localize "age-system.rollDamage"}}</button> --}}
                {{!-- <button class="roll-fatigue">{{localize "age-system.rollFatigue"}}</button> --}}
                {{!-- <button>teste</button> --}}
            </div>
            {{/if}}
            
        </div>
        <div class="blind-roll-card flexcol roll-card">
            <div>
                <h3 class="action-details colorset-first-tier">
                    {{localize "age-system.blindRollSomeone"}}
                </h3>
                <div class="dice-show trait-test flexrow">
                    <i class="fas fa-question-circle fa-4x"></i>
                    <i class="fas fa-question-circle fa-4x"></i>
                    <i class="fas fa-question-circle fa-4x"></i>
                </div>
                <div class="roll-mod stunted blind-value">???</div>
            </div>
        </div>
    </div>
</form>
