<form>
    <div class="form-group">
        <label>{{localize "age-system.formula"}}</label>
        <input type="text" name="k" value="{{k}}" placeholder="{{localize "age-system.formulaExample"}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "age-system.ablSelect"}}</label>
        <select name="abl">
            {{#select abl}}
            <option value="no-abl">—</option>
            {{#each abilities as |name key|}}
            <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "age-system.addLevel"}}</label>
        <input type="checkbox" name="addLevel" {{checked addLevel}}/>
        <p class="notes">If Injury is used, each 4 complete levels will restore 1 injury mark</p>
    </div>

    {{#unless settingMode}}
    <hr>
    <div class="form-group">
        <label>{{localize "age-system.autoApply"}}</label>
        <input type="checkbox" name="autoApply" {{checked autoApply}}/>
    </div>
    {{/unless}}

</form>