{{!-- Membership Details --}}
<li class="item-box item-card flexrow feature-controls colorset-third-tier" draggable="true" data-item-id="{{item._id}}" data-roll-type="{{../data.config.ROLL_TYPE.ATTACK}}">
    <div class="main-data flexrow">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
        <a class="item-show item-name">{{item.name}} [{{localize "age-system.rank"}} {{item.data.rank}}]</a>
    </div>
    <div class="controls flexrow">
        <a class="item-control item-equip favorite{{#unless item.data.favorite}} not-equiped{{/unless}}" title="{{localize "age-system.quickAccess"}}"><i class="fas fa-star"></i></a>
    </div>
</li>