{{!-- Relationship Details --}}
<li class="item-box drag-to-macro item-card flexrow feature-controls colorset-third-tier" draggable="true" data-item-id="{{item._id}}">
    <div class="main-data flexrow">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
        <a class="item-show item-name">{{item.name}} [{{item.system.intensity}}{{#if item.system.intensityMax}}/{{item.system.intensityMax}}{{/if}}]</a>
    </div>
    <div class="controls flexrow">
        <div class="flexcol item-qtd-control arrow-control">
            <a><i class="fa fa-chevron-up change-qtd add" aria-hidden="true"></i></a>
            <a><i class="fa fa-chevron-down change-qtd remove" aria-hidden="true"></i></a>
        </div>
        <a class="item-control item-equip favorite{{#unless item.system.favorite}} not-equiped{{/unless}}" title="{{localize "age-system.quickAccess"}}"><i class="fas fa-star"></i></a>
    </div>
</li>