{{!-- Talent Details --}}
<li class="item-box item-card flexrow feature-controls colorset-third-tier" draggable="true" data-item-id="{{item._id}}">
    <div class="main-data flexrow">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
        <a class="item-show item-name">{{item.name}}{{#if item.data.shortDesc}} ({{item.data.shortDesc}}){{/if}}</a>
    </div>
    <div class="controls flexcol stacked-icons">
        <a class="item-control item-equip favorite{{#unless item.data.favorite}} not-equiped{{/unless}}" title="{{localize "age-system.quickAccess"}}"><i class="fas fa-star"></i></a>
        <a class="item-control item-equip {{#unless item.data.activate}} not-equiped{{/unless}}" title="{{localize "age-system.settings.equip"}}"><i class="fas fa-shield-alt"></i></a>
    </div>
</li>