{{!-- Weapon Details --}}
<li class="item-box item-card flexrow feature-controls colorset-third-tier" draggable="true" data-item-id="{{item._id}}" data-roll-type="{{../data.config.ROLL_TYPE.ATTACK}}">
    <div class="main-data flexrow">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
        <a class="item-show item-name">{{item.name}}{{#if (ne item.data.quantity 1)}} ({{item.data.quantity}}){{/if}}</a>
    </div>
    <div class="controls flexrow">
        <a class="item-control roll-item" title="{{localize "age-system.settings.attack"}}"><i class="fas fa-dice"></i></a>
        <a class="item-control roll-damage" title="{{localize "age-system.rollDamage"}}"><i class="fas fa-fist-raised"></i></a>
        <div class="flexcol item-qtd-control arrow-control">
            <a><i class="fa fa-chevron-up change-qtd add" aria-hidden="true"></i></a>
            <a><i class="fa fa-chevron-down change-qtd remove" aria-hidden="true"></i></a>
        </div>
        <div class="flexcol stacked-icons">
            <a class="item-control item-equip favorite{{#unless item.data.favorite}} not-equiped{{/unless}}" title="{{localize "age-system.quickAccess"}}"><i class="fas fa-star"></i></a>
            <a class="item-control item-equip{{#unless item.data.equiped}} not-equiped{{/unless}}" title="{{localize "age-system.settings.equip"}}"><i class="fas fa-shield-alt"></i></a>
        </div>
    </div>
</li>