{{!-- Talents Tab --}}
<section class="effects-section">

    {{!-- Conditions Block --}}
    <ul class="resource colorset-first-tier item-group conditions">
        <li class="title">
            {{localize "age-system.conditionsName"}}
        </li>
        <li class="values">
            {{#each data.conditions as |condition|}}
            <span class="tooltip-container flexrow feature-controls toggle-condition {{#if condition.active}}colorset-first-tier{{/if}}" data-condition-id="{{condition.id}}">
                <a class="item-name item-box condition-label">{{condition.name}}</a>
                <span class="container-tooltip-text colorset-second-tier">
                    {{#if (ne condition.flags.age-system.desc "")}}
                    <span><b>{{condition.name}}:</b> {{condition.flags.age-system.desc}}</span>
                    {{/if}}
                    {{#if condition.changes}}
                    <em>
                    <ul class="effect-changes">
                        <b>{{localize "EFFECT.TabEffects"}}</b>
                        {{#each condition.changes as |change|}}
                        <li>
                            <span>
                                {{#if change.key}}{{change.key}}{{else}}-{{/if}} ({{effectModeName change.mode}}, {{#if change.key}}{{change.value}}{{else}}-{{/if}})
                            </span>
                        </li>
                        {{/each}}
                    </ul>
                    </em>
                    {{/if}}
                </span>
            </span>
            {{/each}}
        </li>
    </ul>

    {{!-- Active Effects Block --}}
    <ul class="resource colorset-first-tier item-group custom-effects">
        <li class="title">{{localize "age-system.custom"}}</li>
        <li class="flexrow header colorset-first-tier">
            <span class="effect-name">{{localize "age-system.name"}}</span>
            <span class="effect-key">{{localize "age-system.key"}}</span>
            <span class="effect-operation">{{localize "age-system.operation"}}</span>
            <span class="effect-value">{{localize "age-system.value"}}</span>
            <span class="effect-add"><a><i class="fa fa-plus-circle" aria-hidden="true"></i></a></span>
        </li>
        {{#each data.effects as |effect|}}
        <li class="drag-to-macro values flexrow item-box feature-controls" data-effect-id="{{effect._id}}">
            <div class="effect-name flexrow">
                <img class="item-image" src="{{effect.img}}">
                {{#if (ne effect.flags.age-system.conditionType "custom")}}
                <span>{{localize effect.name}}</span>
                {{else}}
                <span>{{effect.name}}</span>
                {{/if}}
            </div>
            {{#if effect.changes}}
            <div class="flexcol effect-key">
                {{#each effect.changes as |change|}}
                <span>{{#if change.key}}{{ageffect change.key ../../data.config.ageEffectsOptions}}{{else}}-{{/if}}</span>
                {{/each}}
            </div>
            <div class="flexcol effect-operation">
                {{#each effect.changes as |change|}}
                <span>{{effectModeName change.mode}}</span>
                {{/each}}
            </div>
            <div class="flexcol effect-value">
                {{#each effect.changes as |change|}}
                <span>{{#if change.key}}{{change.value}}{{else}}-{{/if}}</span>
                {{/each}}
            </div>
            {{else}}
            <div class="flexcol effect-key"><span>{{localize "age-system.rof.none"}}</span></div>
            <div class="flexcol effect-operation"><span>{{localize "age-system.rof.none"}}</span></div>
            <div class="flexcol effect-value"><span>{{localize "age-system.rof.none"}}</span></div>
            {{/if}}
            <div class="effect-add">
                {{#unless (and effect.flags.age-system (ne effect.flags.age-system.conditionType ../inUseStatusEffects))}}
                <a class="effect-active icon {{#if effect.disabled}}inactive{{/if}}"><i class="fas fa-power-off"></i></a>
                <a class="effect-edit icon"><i class="fas fa-edit"></i></a>
                {{/unless}}
                <a class="effect-remove icon"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ul>

    {{!-- Item Modifiers Block --}}
    <ul class="item-group resource modifiers colorset-first-tier">
        <li class="title">{{localize "age-system.itemMod"}}</li>
        <li class="header flexrow colorset-first-tier">
            <span class="mod-name">{{localize "age-system.type"}}</span>
            <span class="mod-value">{{localize "age-system.value"}}</span>
            <span class="mod-source">{{localize "age-system.source"}}</span>
        </li>
        {{#each system.ownedMods as |modGroup modType|}}
        {{#unless @first}}
        <hr>
        {{/unless}}
        <li class="values flexrow extra-padding">
            <span class="mod-name">{{localize (concat "age-system.bonus." modType)}}</span>
            <ul class="modifier-item-details">
                {{#each modGroup.parts as |mod|}}
                <li class="flexrow">
                    <div class="flexcol mod-value">
                        <div class="flexrow value-box">
                            {{#if mod.valid}}
                            {{#if (eq modType "focus")}}
                            <span class="number">{{mod.conditions.focus}}, {{mod.formula}}</span>
                            {{else}}
                            <span class="value-numeric">{{mod.formula}}</span>
                            {{/if}}
                            <span class="icon"><a class="mod-active icon {{#unless mod.isActive}}inactive{{/unless}}" data-key="{{mod.key}}" data-item-id="{{mod.itemId}}"><i class="fas fa-power-off"></i></a></span>
                            {{else}}
                            <div class="formula-error">
                                <span><i class="fa fa-times" aria-hidden="true"></i> {{localize (concat "age-system.invalidMod" mod.ftype)}}</span>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="flexcol mod-source">
                        <span class="item-edit" data-item-id={{mod.itemId}}><a>{{mod.itemName}}</a></span>
                    </div>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>
</section>