<ol class="adv-options">
    <li><strong>{{localize "age-system.advancementNew"}}</strong></li>
    <li class="options" data-adv="progressive"><img src="{{config.advIcon.progressive}}">{{localize "age-system.advProgressiveTrait"}}</li>
    <li class="options" data-adv="item"><img src="{{config.advIcon.item}}">{{localize "age-system.advNewItem"}}</li>
</ol>