<div class="advancement-config">
    <h2>{{localize "ITEM.TypeClass"}}: {{class.name}}</h2>
    <ol class="adv-options">
        <li><strong>{{localize "age-system.advancementNew"}}</strong></li>
        {{!-- <li data-adv="health"><img src="{{config.advIcon.health}}">{{localize "age-system.advHealth" health=config.healthSys.healthName}}</li>
        <li data-adv="ability"><img src="{{config.advIcon.ability}}">{{localize "age-system.advAbility"}}</li> --}}
        <li data-adv="progressive"><img src="{{config.advIcon.progressive}}">{{localize "age-system.advProgressiveTrait"}}</li>
        <li data-adv="item"><img src="{{config.advIcon.newItem}}">{{localize "age-system.advNewItem"}}</li>
    </ol>
</div>