<div class="apply-damage-window flexrow feature-controls">

    <div class="column defenders">
        <h2>Tokens</h2>
        <div class="targets">
            {{#each handler.harmedOnes as |target i|}}
            <div class="individual flexrow feature-controls" data-i="{{i}}">
                <div>
                    <p><strong>{{target.name}}</strong></p>
                    <a><img class="item-image" src="{{target.img}}" title="{{target.name}}" width="75" height="75"/></a>
                </div>
                <div>
                    <p>{{localize "age-system.armor"}}</p>
                    <p>{{target.data.system.armor.impact}}{{#if ../damageData.healthSys.useBallistic}}{{localize "age-system.impactIndex"}}/{{target.data.system.armor.ballistic}}{{localize "age-system.ballisticIndex"}}{{/if}}</p>
                    {{#if useInjury}}
                    <p>{{localize "age-system.bonus.testMod"}}</p>
                    <p>{{target.testMod}}</p>
                    {{/if}}
                </div>
                {{#if ../damageData.healthSys.useToughness}}
                <div>
                    <p>{{localize "age-system.toughness"}}</p>
                    <p>{{target.data.system.armor.toughness.total}}</p>
                    {{#if ../useInjury}}
                    <p>{{localize "age-system.injuryMarks"}}</p>
                    <p>{{target.injuryMarks}}</p>
                    {{/if}}
                </div>
                {{/if}}
                <div>
                    {{#unless ../useInjury}}<strong>{{/unless}}
                    <p>{{localize "age-system.item.damage"}}</p>
                    {{#if ../useInjury}}
                    <p>{{target.totalDmg}}</p>
                    {{else}}
                    <p>{{target.damage}}</p>
                    {{/if}}
                    <p>{{localize "age-system.setRollGeneralMod"}}</p>
                    <div class="flexrow dmg-box">
                        <div class="change-damage decrease"><a><i class="fa fa-minus-square" aria-hidden="true"></i></a></div>
                        <input type="number" class="target-damage-mod damage-value" name="handler.harmedOnes.{{i}}.dmgMod" value="{{target.dmgMod}}" data-dtype="Number" />
                        <div class="change-damage increase"><a><i class="fa fa-plus-square" aria-hidden="true"></i></a></div>
                    </div>
                    {{#unless ../useInjury}}</strong>{{/unless}}
                </div>
                <div>
                    {{#if ../useInjury}}
                    <strong>
                        <p>{{localize "age-system.toughnessTest"}}</p>
                        <p>{{#if (gte target.dmgProtection 1)}}+{{/if}}{{target.dmgProtection}}</p>
                        <p>{{localize "age-system.mod"}}</p>
                        <div class="flexrow dmg-box toughness-test">
                            <div class="change-toughness decrease"><a><i class="fa fa-minus-square" aria-hidden="true"></i></a></div>
                            <input type="number" class="target-damage-mod damage-value" disabled name="handler.harmedOnes.{{i}}.toughMod" value="{{target.toughMod}}" data-dtype="Number" />
                            <div class="change-toughness increase"><a><i class="fa fa-plus-square" aria-hidden="true"></i></a></div>
                        </div>
                    </strong>
                    {{else}}
                    <p>{{../damageData.healthSys.healthName}}</p>
                    <p>{{target.data.system.health.value}} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{target.remainingHP}}</p>
                    {{/if}}
                </div>
                <div class="form-group">
                    <label><p>{{localize "age-system.ignoreDamage"}}</p></label>
                    <input type="checkbox" class="do-not-apply" name="handler.harmedOnes.{{i}}.ignoreDmg" {{checked target.ignoreDmg}}/>
                    {{#if ../useInjury}}
                    <label><p>{{localize "age-system.autoApplyInjury"}}</p></label>
                    <input type="checkbox" class="auto-apply-injury" name="handler.harmedOnes.{{i}}.autoInjury" {{checked target.autoInjury}}/>
                    {{/if}}
                </div>
            </div>
            {{#unless @last}}
            <hr>
            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class="column controls">
        <h2>{{localize "age-system.item.damage"}}</h2>
        <div class="header flexcol">
            <div class="damage overall-dmg flex-jusitfy-center">
                <h3>{{localize "age-system.base"}}</h3>
                <div class="flexrow dmg-box">
                    <div class="change-damage decrease"><a><i class="fa fa-minus-square" aria-hidden="true"></i></a></div>
                    <input type="number" class="basic-damage damage-value" name="handler.basicDamage" value="{{handler.basicDamage}}" data-dtype="Number" />
                    <div class="change-damage increase"><a><i class="fa fa-plus-square" aria-hidden="true"></i></a></div>
                </div>
                {{#if damageData.healthSys.useBallistic}}
                {{!-- <p>{{localize (concat "age-system." damageData.dmgType)}} | {{localize (concat "age-system." damageData.dmgSrc)}}</p> --}}
                <div>
                    <div class="flexrow">
                        <select name="handler.damageType" class="damage-type">
                            {{#select handler.damageType}}
                            {{#each config.damageType as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <select name="handler.damageSource" class="damage-source">
                            {{#select handler.damageSource}}
                            {{#each config.damageSource as |name source|}}
                            <option value="{{source}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                {{else}}
                {{#if (eq damageData.dmgSrc 'penetrating')}}
                <p>{{localize (concat "age-system.penetrating")}}</p>
                {{else}}
                <p>{{localize (concat "age-system.normalDamage")}}</p>
                {{/if}}
                {{/if}}
            </div>
            <div class="column-ad armor-penetration controls flexcol">
                <h3>{{localize "age-system.armorPiercing"}}</h3>
                {{radioBoxes radioB.name radioB.choices radioB.options}}
            </div>
            <button type="button" class="apply-damage default-button">
                {{#if useInjury}}
                {{localize "age-system.toughnessTest"}}
                {{else}}
                {{localize "age-system.applyDamage"}}
                {{/if}}
            </button>
            {{#if useInjury}}
            <button type="button" class="apply-damage apply-all default-button">
                {{localize "age-system.autoApplyAll"}}
            </button>
            <div class="form-group flexrow">
                <input type="checkbox" class="players-roll" name="handler.letPlayerRoll" {{checked handler.letPlayerRoll}}/>
                <label><p>{{localize "age-system.letPlayerRoll"}}</p></label>
            </div>
            {{/if}}
        </div>
    </div>

</div>