{{!-- Colorset defined in the Actor Sheet Class --}}
<form class="actor-sheet {{cssClass}} colorset-{{data.colorScheme}} colorset-selection" autocomplete="off">
    <div class="char-sheet">
        <header class="sheet-header flexcol">
            
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <div>
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder={{localize "age-system.name"}}/></h1>        

                {{!-- General Character Information --}}
                <div class="age-header">  
                    <div class="flexrow">
                        <label for="">{{localize "age-system.age"}}</label>
                        <input type="text" name="data.age" value="{{data.data.age}}">

                        <label for="">{{localize "age-system.height"}}</label>
                        <input type="text" name="data.height" value="{{data.data.height}}">
                        
                        <label for="">{{localize "age-system.weight"}}</label>
                        <input type="text" name="data.weight" value="{{data.data.weight}}">  

                    </div>

                    <div class="flexrow">
                        <label for="">{{localize "age-system.background"}}</label>
                        <input type="text" name="data.background" value="{{data.data.background}}">
                        
                        <label for="">{{localize (concat "SETTINGS.ancestryOpt" data.ancestry)}}</label>
                        <input type="text" name="data.ancestry" value="{{data.data.ancestry}}"> 
                    </div>
                    
                    <div class="flexrow">
                        <label for="">{{localize "age-system.socialClass"}}</label>
                        <input type="text" name="data.socialClass" value="{{data.data.socialClass}}">
                    </div>

                    <div class="flexrow">
                        <label for="">{{localize (concat "SETTINGS.occ" data.occupation)}}</label>
                        <input type="text" name="data.profession" value="{{data.data.profession}}">          
                    </div>

                    {{!-- Level / XP block --}}
                    <div class="flexrow level-xp">
                        <label for="">{{localize "age-system.level"}}</label>
                        <input type="number" name="data.level" value="{{data.data.level}}" data-dtype="Number" />

                        <label>{{localize "age-system.currentLevel"}}</label>
                        <input type="number" number-type="five-digits" name="data.xp.value" value="{{data.data.xp.value}}" data-dtype="Number" />
                            
                        <label>{{localize "age-system.nextLevel"}}</label>
                        <input type="number" number-type="five-digits" name="data.xp.next" value="{{data.data.xp.next}}" data-dtype="Number" />
                    </div>
                </div>
            </div>

        </header>
        
        {{!-- Navigaton Bar and Tabs --}}
        {{> "systems/age-system/templates/partials/char-sheet-nav-bar.hbs"}}
    </div>
</form>