{{!-- Colorset defined in the highest section of the template --}}
<form class="actor-sheet {{cssClass}} colorset-selection colorset-modern-blue" autocomplete="off">
    <div class="char-sheet">
        <header class="sheet-header flexcol">

            {{!-- <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="400" width="200"/> --}}
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <div>
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder={{localize "age-system.name"}}/></h1>        

                {{!-- General Character Information --}}
                <div class="age-header">  
                    <div class="flexrow">
                        <label for="">{{localize "age-system.age"}}</label>
                        <input type="text" name="data.age" value="{{data.age}}">

                        <label for="">{{localize "age-system.height"}}</label>
                        <input type="text" name="data.height" value="{{data.height}}">
                        
                        <label for="">{{localize "age-system.weight"}}</label>
                        <input type="text" name="data.weight" value="{{data.weight}}">  
                    </div>

                    <div class="flexrow">
                        <label for="">{{localize "age-system.background"}}</label>
                        <input type="text" name="data.background" value="{{data.background}}">

                        <label for="">{{localize "age-system.socialClass"}}</label>
                        <input type="text" name="data.socialClass" value="{{data.socialClass}}">

                        <label for="">{{localize "age-system.profession"}}</label>
                        <input type="text" name="data.profession" value="{{data.profession}}">          
                    </div>

                    <div class="flexrow">
                        <label for="">{{localize "age-system.drive.drive"}}</label>
                        <input type="text" name="data.drive.name" value="{{data.drive.name}}">          

                        <label for="">{{localize "age-system.drive.quality"}}</label>
                        <input type="text" name="data.drive.quality" value="{{data.drive.quality}}">          

                        <label for="">{{localize "age-system.drive.downfall"}}</label>
                        <input type="text" name="data.drive.downfall" value="{{data.drive.downfall}}">          
                    </div>

                    <div class="flexcol">
                        {{!-- <label>{{localize "age-system.features"}}</label> --}}
                        {{!-- I decided to remove this label to allow more space for notes :-) --}}
                        {{editor content=data.features target="data.features" button=true owner=owner editable=editable}}
                    </div>
                </div>
            </div>

        </header>


        {{!-- Stats Block --}}
        <div class="flexrow">

            {{!-- Level / XP block --}}
            <div class="flexcol general-stats">
                <div class="top-row colorset-first-tier">{{localize "age-system.level"}}</div>
                <div class="main-value">
                    <input type="number" name="data.level" value="{{data.level}}" data-dtype="Number" />
                </div>
                <div class="stat-modifiers flexcol no-flexwrap">
                    <span>{{localize "age-system.xp"}}</span>
                    <div class="flexrow no-flexwrap">
                        <input type="number" number-type="five-digits" name="data.xp.value" value="{{data.xp.value}}" data-dtype="Number" />
                        <label>{{localize "age-system.currentLevel"}}</label>
                    </div>
                    <div class="flexrow no-flexwrap">
                        <input type="number" number-type="five-digits" name="data.xp.next" value="{{data.xp.next}}" data-dtype="Number" />
                        <label>{{localize "age-system.nextLevel"}}</label>
                    </div>
                </div>
            </div>

            {{!-- Conviction block --}}
            {{#if data.useConviction}}
            <div class="flexcol general-stats">
                <div class="top-row colorset-first-tier">{{localize "age-system.conviction"}}</div>
                <div class="main-value">
                    <input type="number" name="data.conviction.value" value="{{data.conviction.value}}" data-dtype="Number" />
                </div>
                <div class="stat-modifiers flexrow no-flexwrap">
                    <input type="number" class="" name="data.conviction.max" value="{{data.conviction.max}}" data-dtype="Number" />
                    <label>{{localize "age-system.maximum"}}</label>
                </div>
                <div class="bottom-row"></div>
            </div>
            {{/if}}

            {{!-- Fatigue block --}}
            {{#if data.useFatigue}}
            <div class="flexcol general-stats">
                <div class="top-row colorset-first-tier">{{localize "age-system.fatigue"}}</div>
                <div class="main-value">
                    <input type="number" name="data.fatigue.entered" min="0" max="{{data.fatigue.max}}" value="{{data.fatigue.entered}}" data-dtype="Number" />
                </div>
                <div class="stat-modifiers flexrow no-flexwrap">
                    <input type="number" class="" disabled name="data.fatigue.max" value="{{data.fatigue.max}}" data-dtype="Number" />
                    <label>{{localize "age-system.maximum"}}</label>
                </div>
                <div class="bottom-row">
                    <input type="text" disabled name="data.fatigue.status" value="{{data.fatigue.status}}" data-dtype="Number" />
                </div>
            </div>
            {{/if}}

            {{!-- Speed block --}}
            <div class="flexcol general-stats">
                <div class="top-row colorset-first-tier">{{localize "age-system.speed"}}</div>
                <input type="number" class="main-value" disabled name="data.speed.total" value="{{data.speed.total}}" data-dtype="Number" />
                <div class="stat-modifiers flexcol">
                    <div class="flexrow no-flexwrap">
                        <input type="number" class="" name="data.speed.base" value="{{data.speed.base}}" data-dtype="Number" />
                        <label class="">{{localize "age-system.base"}}</label>
                    </div>
                    <div class="flexrow no-flexwrap">
                        <input type="number" class="" disabled name="data.speed.mod" value="{{data.speed.mod}}" data-dtype="Number" />
                        <label class="">{{localize "age-system.mod"}}</label>
                    </div>
                    <div class="flexrow no-flexwrap">
                        <input disabled type="number" class="bottom-input" name="data.speed.total" value="{{data.speed.total}}" data-dtype="Number" />
                        <label>{{localize "age-system.move"}}</label>
                    </div>
                </div>
            </div>
                
            {{!-- Defense block --}}
            <div class="flexcol general-stats">
                <div class="top-row colorset-first-tier">{{localize "age-system.defense"}}</div>
                <input type="number" disabled class="main-value" name="data.defense.total" value="{{data.defense.total}}" data-dtype="Number" />
                <div class="stat-modifiers flexcol">
                    <div class="flexrow no-flexwrap">
                        <input type="number" class=""  name="data.defense.base" value="{{data.defense.base}}" data-dtype="Number" />
                        <label class="">{{localize "age-system.base"}}</label>
                    </div>
                    <div class="flexrow no-flexwrap">
                        <input type="number" class="" name="data.defense.gameModeBonus" value="{{data.defense.gameModeBonus}}" data-dtype="Number" />
                        <label class="">{{localize "age-system.gameModeBonus"}}</label>
                    </div>
                    <div class="flexrow no-flexwrap">
                        <input type="number" class="" disabled name="data.defense.mod" value="{{data.defense.mod}}" data-dtype="Number" />
                        <label class="">{{localize "age-system.mod"}}</label>
                    </div>
                </div>
                <div class="bottom-row"></div>
            </div>

            {{!-- Toughness block --}}
            {{#if data.useToughness}}
            <div class="flexcol general-stats">
                <div class="top-row colorset-first-tier">{{localize "age-system.toughness"}}</div>
                <input type="number" disabled class="main-value" name="data.armor.toughness.total" value="{{data.armor.toughness.total}}" data-dtype="Number" />
                <div class="stat-modifiers flexcol">
                    <div class="flexrow no-flexwrap">
                        <input type="number" class="" name="data.armor.toughness.gameModeBonus" value="{{data.armor.toughness.gameModeBonus}}" data-dtype="Number" />
                        <label class="">{{localize "age-system.gameModeBonus"}}</label>
                    </div>
                    <div class="flexrow no-flexwrap">
                        <input type="number" class="" disabled name="data.armor.toughness.mod" value="{{data.armor.toughness.mod}}" data-dtype="Number" />
                        <label class="">{{localize "age-system.mod"}}</label>
                    </div>
                </div>
                <div class="bottom-row"></div>
            </div>
            {{/if}}

            {{!-- Currency/Resource/Income block --}}
            {{#if data.useCurrency}}
            <div class="flexcol general-stats">
                <div class="top-row colorset-first-tier">{{localize "SETTINGS.wealthTypeCurrency"}}</div>
                <div class="main-value flexcol">
                    <input type="number" disabled class="main-value" name="data.resources.base" value="{{data.resources.base}}" data-dtype="Number" />
                </div>
                <div class="stat-modifiers flexrow no-flexwrap">
                </div>
                <div class="bottom-row"></div>
            </div>
            {{else}}
            <div class="flexcol general-stats">
                <div class="top-row colorset-first-tier">{{#if data.useResources}}{{localize "SETTINGS.wealthTypeResources"}}{{/if}}{{#if data.useIncome}}{{localize "SETTINGS.wealthTypeIncome"}}{{/if}}</div>
                <input type="number" disabled class="main-value" name="data.resources.total" value="{{data.resources.total}}" data-dtype="Number" />
                <div class="stat-modifiers flexcol">
                    <div class="flexrow no-flexwrap">
                        <input type="number" class="" name="data.resources.base" value="{{data.resources.base}}" data-dtype="Number" />
                        <label class="">{{localize "age-system.base"}}</label>
                    </div>
                    <div class="flexrow no-flexwrap">
                        <input type="number" class="" name="data.resources.mod" value="{{data.resources.mod}}" data-dtype="Number" />
                        <label class="">{{localize "age-system.mod"}}</label>
                    </div>
                </div>
                <div class="bottom-row"></div>
            </div>
            {{/if}}

            {{!-- Armor block --}}
            <div class="flexcol general-stats">
                <div class="top-row colorset-first-tier">{{localize "age-system.armor"}}</div>
                <div class="main-value flexcol">
                    <div>{{data.armor.impact}}{{localize "age-system.impactIndex"}}</div>
                    <div>{{data.armor.ballistic}}{{localize "age-system.ballisticIndex"}}</div>
                </div>
                <div class="stat-modifiers flexrow no-flexwrap">
                    <input type="number" disabled name="data.armor.penalty" value="{{data.armor.penalty}}" data-dtype="Number" />                
                    <label>{{localize "age-system.armorPenalty"}}</label>
                </div>
                <div class="bottom-row"></div>
            </div>

            {{!-- Health block --}}
            <div class="flexcol general-stats">
                <div class="top-row colorset-first-tier">{{localize "age-system.health"}}</div>
                <div class="main-value">
                    <input type="number" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" />
                </div>
                <div class="flexcol stat-modifiers flex-align-center no-flexwrap">
                    <div class="flexcol no-flexwrap">
                        {{#when data.health.set 'noteq' data.health.max}}
                        <input type="number" class="colorset-second-tier" number-type="five-digits" disabled name="data.health.max" value="{{data.health.max}}" data-dtype="Number" />
                        {{/when}}
                        <input type="number" number-type="five-digits" name="data.health.set" value="{{data.health.set}}" data-dtype="Number" />
                    </div>
                    <label>{{localize "age-system.maximum"}}</label>
                </div>
            </div>

            {{!-- Power Points block --}}
            {{#if data.usePowerPoints}}
            <div class="flexcol general-stats">
                <div class="top-row colorset-first-tier">{{localize "age-system.powerPoints"}}</div>
                <div class="main-value">
                    <input type="number" name="data.powerPoints.value" value="{{data.powerPoints.value}}" data-dtype="Number" />
                </div>
                <div class="flexcol stat-modifiers flex-align-center no-flexwrap">
                    <div class="flexcol no-flexwrap">
                        {{#when data.powerPoints.set 'noteq' data.powerPoints.max}}
                        <input type="number" class="colorset-second-tier" number-type="five-digits" disabled name="data.powerPoints.max" value="{{data.health.max}}" data-dtype="Number" />
                        {{/when}}
                        <input type="number" number-type="five-digits" name="data.powerPoints.set" value="{{data.powerPoints.set}}" data-dtype="Number" />
                    </div>
                    <label>{{localize "age-system.maximum"}}</label>
                </div>
            </div> 
            {{/if}}

        </div>

        {{!-- Gaming Assist Bar --}}
        <div class="flexrow general-aid-bar colorset-first-tier">

            {{!-- Advancement Points Log --}}
            <div class="flexcol flex-align-center">
                <label>{{localize "age-system.advPoints"}}</label>
                <input type="number" name="data.xp.advPoints" value="{{data.xp.advPoints}}" data-dtype="Number" />
            </div>

            {{!-- Aim Control --}}
            <div class="flexcol flex-align-center feature-controls">
                <label>{{localize "age-system.aim"}}</label>
                <div class="flexrow no-flexwrap">
                    <input type="number" name="data.aim.value" value="{{data.aim.value}}" data-dtype="Number" />
                    <input type="checkbox" name="data.aim.active" {{checked data.aim.active}} class="checkbox"/>
                </div>
            </div>

            {{!-- All Out Attack Control --}}
            <div class="flexcol flex-align-center">
                <label>{{localize "age-system.allOutAttack"}}</label>
                <div class="flexrow no-flexwrap">
                    <input type="number" name="data.allOutAttack.dmgBonus" value="{{data.allOutAttack.dmgBonus}}" data-dtype="Number" />
                    <div>+</div>
                    <input type="number" name="data.allOutAttack.defensePenalty" value="{{data.allOutAttack.defensePenalty}}" data-dtype="Number" />
                    <div>-</div>
                    <input type="checkbox" name="data.allOutAttack.active" {{checked data.allOutAttack.active}} class="checkbox"/>
                </div>
            </div>

            {{!-- Defend Maneuver Control --}}
            <div class="flexcol flex-align-center feature-controls" data-guardup-active="{{data.guardUp.active}}">
                <label>{{localize "age-system.defendManeuver"}}</label>
                <div class="flexrow no-flexwrap">
                    <input type="number" name="data.defend.defenseBonus" value="{{data.defend.defenseBonus}}" data-dtype="Number" />
                    <input type="checkbox" name="data.defend.active" class="defend-maneuver" {{checked data.defend.active}} class="checkbox"/>
                </div>
            </div>

            {{!-- Guard Up Maneuver Control --}}
            <div class="flexcol flex-align-center feature-controls" data-defend-active="{{data.defend.active}}">
                <label>{{localize "age-system.guardUp"}}</label>
                <div class="flexrow no-flexwrap">
                    <input type="number" name="data.guardUp.defenseBonus" value="{{data.guardUp.defenseBonus}}" data-dtype="Number" />
                    <div>+</div>
                    <input type="number" name="data.guardUp.testPenalty" value="{{data.guardUp.testPenalty}}" data-dtype="Number" />
                    <div>-</div>
                    <input type="checkbox" class="guardup-maneuver" name="data.guardUp.active" {{checked data.guardUp.active}} class="checkbox"/>
                </div>
            </div>

            {{!-- Initiative Mod --}}
            <div class="flexcol flex-align-center">
                <label>{{localize "age-system.initiative"}}</label>
                <div class="flexrow no-flexwrap">
                    <input type="number" disabled name="data.initiative" value="{{data.initiative}}" data-dtype="Number" />
                    <input type="number" name="data.initiativeMod" value="{{data.initiativeMod}}" data-dtype="Number" />
                    <label>{{localize "age-system.mod"}}</label>
                </div>
            </div>

            {{!-- Stat Block View --}}
            {{!-- TODO - It is still necessary to design this view - It is gonna be a whole new character sheet, based on --}}
            {{!-- monsters' stats block presented on AGE System books --}}
            {{!-- <div class="flexcol flex-align-center">
                <label>{{localize "age-system.settings.statBlockViewEnter"}}</label>
                <input type="checkbox" disabled name="data.statBlockView" {{checked data.statBlockView}} data-dtype="Number" />
            </div>         --}}
        </div>

        <div class="flexrow">
            {{!-- Sheet's 1st Column --}}
            <div class="col-1">

                {{!-- Attributes' Blocks --}}
                {{#each config.abilities as |name type|}}
                <div class="ability-box flexcol">
                    <div class="flexrow abl-header colorset-first-tier feature-controls" data-abl-id="{{type}}">
                        <div class="abl-name">
                            <a class="roll-ability feature-controls" data-abl-id="{{type}}"><i class="fas fa-dice"></i></a>
                            <label for="data.abilities.{{type}}.value">{{localize (concat "age-system." type)}}</label>
                        </div>                    
                        <input type="checkbox" name="data.abilities.{{type}}.lastUp" {{checked name.lastUp}} class="last-up" />
                        <input type="number" class="abl-value" name="data.abilities.{{type}}.value" value="{{name.value}}" data-dtype="Number" />
                        {{!-- Value with modifiers applied --}}
                        {{#when name.value 'noteq' name.total}}
                        <input type="number" class="abl-value colorset-second-tier" disabled name="data.abilities.{{type}}.total" value="{{name.total}}" data-dtype="Number" />
                        {{/when}}
                    </div>
                    <div class="owned-focus flexrow">
                        {{#each ../focus as |item|}}
                        {{#when item.data.useAbl 'eq' type}}
                        <div class="item-name item-box focus-options feature-controls colorset-third-tier" data-focus-id="{{item._id}}">
                            <a class="item-name roll-focus{{#if item.data.improved}} improved-focus{{/if}}">{{item.name}}</a>
                        </div>
                        {{/when}}
                        {{/each}}
                    </div>
                </div>
                {{/each}}

            </div>

            <div class="col-2">
                {{!-- Talent Block --}}
                <div class="item-container">
                    <div class="top-row colorset-first-tier">{{localize "age-system.talentContainer"}}</div>
                    <div class="actor-items flexrow">
                    {{#each talent as |item id|}}
                        <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                            <div class="item-name flexrow">
                                <a class="item-show">{{item.name}}{{#if item.data.shortDescd}} ({{item.data.shortDesc}}){{/if}}</a>
                            </div>
                            <div class="flexrow fill-card" >
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>

                {{!-- Powers Block --}}
                <div class="item-container">
                    <div class="top-row colorset-first-tier">{{localize "age-system.extraordinaryPowers"}}</div>
                    <div class="actor-items flexrow">
                    {{#each power as |item id|}}
                        <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                            <div class="item-name flexrow">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <a class="clickable item-show">{{item.name}}</a>
                            </div>
                            <div class="flexrow fill-card">
                                <a class="item-control roll-item" title="{{localize "age-system.settings.attack"}}"><i class="fas fa-dice"></i></a>
                                {{#if item.data.causeDamage}}                            
                                <a class="item-control roll-damage" title="{{localize "age-system.rollDamage"}}"><i class="fas fa-fist-raised"></i></a>
                                {{/if}}
                                <a class="item-control item-equip" title="{{localize "age-system.settings.equip"}}"><i class="fas fa-shield-alt"></i></a>
                                <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>

                {{!-- Weapon Block --}}
                <div class="item-container">
                    <div class="top-row colorset-first-tier">{{localize "age-system.weaponContainer"}}</div>
                    <div class="actor-items flexrow">
                    {{#each weapon as |item id|}}
                        <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                            <div class="item-name flexrow">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <a class="item-show">{{item.name}}</a>
                            </div>
                            <div class="flexrow fill-card">
                                <a class="item-control roll-item" title="{{localize "age-system.rollAttack"}}"><i class="fas fa-dice"></i></a>
                                <a class="item-control roll-damage" title="{{localize "age-system.rollDamage"}}"><i class="fas fa-fist-raised"></i></a>
                                <a class="item-control item-equip" title="{{localize "age-system.settings.equip"}}"><i class="fas fa-shield-alt"></i></a>
                                <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>
                {{!-- Equipment Block --}}
                <div class="item-container">
                    <div class="top-row colorset-first-tier">{{localize "age-system.equipmentContainer"}}</div>
                    <div class="actor-items flexrow">
                    {{#each equipment as |item id|}}
                        <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                            <div class="item-name flexrow">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <a class="item-show">{{item.name}}</a>
                            </div>
                            <div class="flexrow fill-card">
                                {{!-- <a class="item-control roll-item" title="{{localize "age-system.settings.attack"}}"><i class="fas fa-dice"></i></a>
                                <a class="item-control roll-damage" title="{{localize "age-system.settings.damage"}}"><i class="fas fa-fist-raised"></i></a> --}}
                                <a class="item-control item-equip" title="{{localize "age-system.settings.equip"}}"><i class="fas fa-shield-alt"></i></a>
                                <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>

                {{!-- Stunts' Container --}}
                <div class="item-container">
                    <div class="top-row colorset-first-tier">{{localize "age-system.stuntsContainer"}}</div>
                    <div class="actor-items flexrow">
                    {{#each stunts as |item id|}}
                        <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                            <div class="item-name flexrow">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <a class="item-show">{{item.name}} [{{item.data.stuntPoints}} {{localize "age-system.settings.stuntPointsIndex"}}]</a>
                            </div>
                            <div class="flexrow fill-card">
                                <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>

                {{!-- Relationship Container --}}
                <div class="item-container">
                    <div class="top-row colorset-first-tier">{{localize "age-system.relationshipContainer"}}</div>
                    <div class="actor-items flexrow">
                    {{#each relationship as |item id|}}
                        <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                            <div class="item-name flexrow">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <a class="item-show">{{item.name}} [{{item.data.intensity}}]</a>
                            </div>
                            <div class="flexrow fill-card">
                                <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>

                {{!-- Honorifics' Container --}}
                <div class="item-container">
                    <div class="top-row colorset-first-tier">{{localize "age-system.honorificsContainer"}}</div>
                    <div class="actor-items flexrow">
                    {{#each honorifics as |item id|}}
                        <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                            <div class="item-name flexrow">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <a class="item-show">{{item.name}}</a>
                            </div>
                            <div class="flexrow fill-card">
                                <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>

                {{!-- Membership Container --}}
                <div class="item-container">
                    <div class="top-row colorset-first-tier">{{localize "age-system.membershipContainer"}}</div>
                    <div class="actor-items flexrow">
                    {{#each membership as |item id|}}
                        <div class="item-box flexrow feature-controls colorset-third-tier" data-item-id="{{item._id}}">
                            <div class="item-name flexrow">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <a class="item-show">{{item.name}} [{{localize "age-system.rank"}} {{item.data.rank}}]</a>
                            </div>
                            <div class="flexrow fill-card">
                                <a class="item-control item-edit" title="{{localize "age-system.settings.edit"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "age-system.settings.delete"}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</form>