{{!-- Colorset defined in the Actor Sheet Class --}}
<form class="actor-sheet {{cssClass}} colorset-selection" autocomplete="off">
    <div class="char-sheet">
        <header class="sheet-header flexcol">
            
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <div>
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder={{localize "age-system.name"}}/></h1>        

                {{!-- General Character Information --}}
                <div class="age-header">  
                    <div class="flexrow">
                        <label for="">{{localize "age-system.age"}}</label>
                        <input type="text" name="system.age" value="{{system.age}}">

                        <label for="">{{localize "age-system.height"}}</label>
                        <input type="text" name="system.height" value="{{system.height}}">
                        
                        <label for="">{{localize "age-system.weight"}}</label>
                        <input type="text" name="system.weight" value="{{system.weight}}">  

                    </div>

                    <div class="flexrow">
                        <label for="">{{localize "age-system.background"}}</label>
                        <input type="text" name="system.background" value="{{system.background}}">
                        
                        <label for="">{{localize (concat "SETTINGS.ancestryOpt" data.ancestry)}}</label>
                        <input type="text" name="system.ancestry" value="{{system.ancestry}}"> 
                    </div>
                    
                    <div class="flexrow">
                        <label for="">{{localize "age-system.socialClass"}}</label>
                        <input type="text" name="system.socialClass" value="{{system.socialClass}}">
                    </div>
                    
                    <div class="flexrow">
                        <label for="">{{localize (concat "SETTINGS.occ" data.occupation)}}</label>
                        <input type="text" name="system.profession" value="{{system.profession}}">          
                    </div>

                    {{!-- Level / XP block --}}
                    <div class="flexrow level-xp">
                        <label for="">{{localize "age-system.level"}}</label>
                        <input type="number" name="system.level" value="{{system.level}}" data-dtype="Number" />

                        <label>{{localize "age-system.currentLevel"}}</label>
                        <input type="number" number-type="five-digits" name="system.xp.value" value="{{system.xp.value}}" data-dtype="Number" />
                            
                        <label>{{localize "age-system.nextLevel"}}</label>
                        <input type="number" number-type="five-digits" name="system.xp.next" value="{{system.xp.next}}" data-dtype="Number" />

                    </div>
                </div>
            </div>

        </header>
        
        {{!-- Navigaton Bar and Tabs --}}
        {{> "systems/dragon-age-system/templates/partials/char-sheet-nav-bar.hbs"}}
    </div>
</form>