<form class="{{cssClass}} age-system item focus colorset-{{colorScheme}} colorset-selection {{data.colorScheme}}" autocomplete="off">

    <div class="sheet-content item-stats focus">
        <div class="flexcol">
            {{#if inChat}}
            <div class="item-card-title colorset-first-tier" type="text">{{name}}</div>
            {{else}}
            <input name="name" class="item-card-title colorset-first-tier" type="text" value="{{item.name}}" placeholder="{{localize "age-system.item.name"}}"/>
            {{/if}}
            <div class="item-card-stats flexrow">
                
                {{!-- Item Image --}}
                {{> "systems/age-system/templates/partials/item-image-sheet-card.hbs"}} 
                
                {{!-- Ability key to Focus --}}
                <div class="flexcol">
                    <label>{{localize "age-system.abl"}}</label>
                    {{#if inChat}}
                    <div name="data.useAbl" class="data-input">{{localize (concat "age-system." data.useAbl)}}</div>
                    {{else}}
                    <select name="data.useAbl" class="data-input">
                        {{#select data.useAbl}}
                        {{#each config.abilities as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                </div>

                {{!-- Improved Focus --}}
                <div class="flexcol">
                    <label>{{localize "age-system.improvedFocus"}}</label>
                    <input type="checkbox" {{#if inChat}}disabled{{/if}} name="data.improved" {{checked data.improved}} class="checkbox"/>
                </div>

                {{!-- Focus Initial Value --}}
                <div class="flexcol">
                    <label>{{localize "age-system.focusInput"}}</label>
                    <input type="number" name="data.initialValue" {{#if inChat}}disabled{{/if}} value="{{data.initialValue}}" class="checkbox"/>
                </div>

                {{!-- Focus Modificator --}}
                {{!-- FocusValue not in use - only initialValue --}}
                {{!-- <div class="flexcol">
                    <label>{{localize "age-system.total"}}</label>
                    <div>{{data.focusValue}}</div>
                </div> --}}
            </div>
        </div>
        <div class="item-card-desc">
            <label>{{localize "age-system.item.desc"}}</label>
            {{editor content=data.longDesc target="data.longDesc" button=true owner=owner editable=editable}}
        </div>
    </div>
    
</form>
