<form class="{{cssClass}} age-system item honorifics colorset-{{colorScheme}} colorset-selection" autocomplete="off">

    <div class="sheet-content item-stats honorifics">
        <div class="flexcol">
            {{#if inChat}}
            <div class="item-card-title colorset-first-tier" type="text">{{name}}</div>
            {{else}}
            <input name="name" class="item-card-title colorset-first-tier" type="text" value="{{item.name}}" placeholder="{{localize "age-system.item.name"}}"/>
            {{/if}}
        </div>
        <div class="item-card-desc">
            <label>{{localize "age-system.item.desc"}}</label>
            {{editor content=data.longDesc target="data.longDesc" button=true owner=owner editable=editable}}
        
        </div>
    </div>
    
</form>
