<form class="{{cssClass}} age-system item membership flexrow no-flexwrap" autocomplete="off">
    <aside class="sidebar metal-background colorset-first-tier">
        <img class="document-picture" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <ul class="item-summary">

            {{!-- Rank --}}
            <li>
                <label>{{localize "age-system.rank"}}</label>
                <input type="number" {{#if inChat}}disabled{{/if}} name="system.rank" value="{{data.system.rank}}"/>
            </li>

            {{!-- Page Ref --}}
            <li class="feature-controls" data-reference="{{data.system.reference}}">
                <label class="find-reference {{#if config.pdfoundryOn}}mouse-to-pointer{{/if}}">{{localize "age-system.reference"}}</label>
                <input type="text" name="system.reference" {{#if inChat}}disabled{{/if}} value="{{data.system.reference}}" placeholder="Page Ref." data-dtype="String"/>
            </li>
        </ul>
    </aside>

    <div class="second-column flexcol">
        <header class="top-banner colorset-first-tier flexrow">
            <div class="header-details">
                <input class="itemname" name="name" type="text" value="{{item.name}}" placeholder={{localize "age-system.name"}}/>
                <div class="sub-details">
                    {{!-- Membership Position --}}
                    <input type="text" name="system.shortDesc" value="{{data.system.shorDesc}}">
                    <label>{{localize "age-system.membershipPosition"}}</label>
                </div>
            </div>
        </header>
        
        <div class="sheet-main-content metal-background">
            <ul class="resource colorset-first-tier item-group">
                <li class="title colorset-third-tier">
                    <label>{{localize "age-system.item.desc"}}</label>
                </li>
                <li>{{editor data.system.longDesc target="system.longDesc" button=true owner=owner editable=true}}</li>
            </ul>
        </div>
    </div>
</form>