<form class="organization-sheet {{cssClass}} colorset-selection flexcol" autocomplete="off">
    <input name="name" class="item-card-title colorset-first-tier" type="text" value="{{actor.name}}" placeholder="{{localize "age-system.item.name"}}"/>
    <img src="{{actor.img}}" class="colorset-second-tier" data-edit="img" title="{{actor.name}}"/>
    {{!-- Abilities and Focus --}}
    <ul class="ability-table font-small-table column-width block-item">
        <li class="ability-row header">
            <span><strong>{{localize "age-system.abl"}}</strong>&nbsp({{localize "age-system.focus"}})</span>
        </li>
        {{#each data.abilities as |abl type|}}
        <li class="ability-row ability-box flexrow {{type}} feature-controls colorset-second-tier" data-abl-id="{{type}}">
            <div class="flexrow abl-value-box">
                <input type="number" class="abl-value original" name="system.abilities.{{type}}.total" value="{{abl.total}}" data-dtype="Number" />
            </div>
            <div class="abl-name-focus flexrow">
                <a class="abl-name roll-ability">{{localize (concat "age-system.org." type)}}</a>
                {{!-- &nbsp
                <a class="abl-name roll-plot-damage"><i class="fa fa-bullseye" aria-hidden="true"></i></a> --}}
                {{#each (focusbyabl ../focus type) as |item|}}
                <div class="item-name focus-options feature-controls" data-item-id="{{item._id}}" data-roll-type="{{../../config.ROLL_TYPE.FOCUS}}">
                    <a class="item-name roll-item{{#if item.system.improved}} improved-focus{{/if}}">{{#if @first}}&nbsp({{else}}&nbsp{{/if}}{{item.name}}{{#if @last}}){{else}},{{/if}}</a>
                </div>
                {{/each}}
            </div>
        </li>
        {{/each}}
    </ul>

    {{!-- Structure, Stability, Scope --}}
    <ul class="derived-stats-table font-small-table footer column-width block-item">
        <li class="header">
            <span>{{localize "age-system.combatRatings"}}</span>
        </li>
        <li class="flexrow header">
            <span>{{localize "age-system.structure"}}</span>
            <span>{{localize "age-system.stability"}}</span>
            <span>{{localize "age-system.scope"}}</span>
        </li>
        <li class="flexrow data body">
            <span>
                <input type="number" class="main-value" name="system.combat.structure" value="{{data.combat.structure}}" data-dtype="Number" />
            </span>
            <input type="number" name="system.combat.stability.value" value="{{data.combat.stability.value}}" data-dtype="Number" />
            <span class="flexrow flex-align-center">
                <select name="system.scope">
                    {{#select data.system.scope}}
                    {{#each config.orgScope as |name scope|}}
                    <option value="{{scope}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </span>
        </li>
        {{!-- Plot Attack --}}
        <li class="header">
            {{localize "age-system.plotAction"}} <a class="roll-plot" data-roll-type="{{ROLL_TYPE.PLOT_ACTION}}"><i class="fas fa-dice"></i></a> <a class="roll-plot" data-roll-type="{{ROLL_TYPE.PLOT_DAMAGE}}"><i class="fas fa-fist-raised"></i></a>
        </li>
    </ul>


    {{editor data.system.description target="system.description" button=true owner=owner editable=true}}
    <footer class="colorset-first-tier"></footer>
</form>