<form class="{{cssClass}} age-system item power flexrow no-flexwrap" autocomplete="off">
    <aside class="sidebar metal-background colorset-first-tier">
        <img class="document-picture" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <ul class="item-summary">
            {{!-- Requirement --}}
            <li>
                <label>{{localize "age-system.requirement"}}</label>
                <input type="text" name="system.requirement" value="{{system.requirement}}">
            </li>
            {{#if (or system.hasDamage system.hasHealing)}}
            {{!-- Base Damage --}}
            <li>
                <label>{{localize "age-system.item.damage"}}</label>
                <input type="text" value="{{system.dmgFormula}}" disabled>
            </li>
            {{#if system.hasDamage}}
            {{#if config.healthSys.useBallistic}}
            <li>
                <label>{{localize "age-system.type"}}</label>
                <input type="text" value="{{localize (concat "age-system." system.dmgType)}}" disabled>
            </li>
            {{/if}}
            <li>
                <label>{{localize "age-system.source"}}</label>
                <input type="text" value="{{localize (concat "age-system." system.dmgSource)}}" disabled>
            </li>
            {{/if}}
            {{/if}}

            {{#unless system.inputFatigueTN}}
            {{!-- Total Power Point Cost --}}
            <li>
                <label>{{localize "age-system.powerPointsIndex"}}</label>
                <input type="text" value="{{system.powerPointCostTotal}}" disabled>
            </li>
            {{/unless}}

            {{#if (and fatigueSet system.useFatigue)}}
            {{!-- Fatigue TN --}}
            <li>
                <label>{{localize "age-system.fatigueTN"}}</label>
                <input type="number" value="{{system.fatigueTN}}" {{#unless system.inputFatigueTN}}disabled{{/unless}} name="system.fatigueTN">
            </li>
            {{/if}}

            {{!-- Cast Time --}}
            <li>
                <label>{{localize "age-system.item.cast"}}</label>
                <select name="system.castTime" class="data-input">
                {{#select system.castTime}}
                    {{#each config.actionsToCast as |actionsToCast|}}
                    <option value="{{@key}}">{{localize actionsToCast}}</option>
                    {{/each}}
                {{/select}}
                </select>
            </li>

            {{!-- Target Number --}}
            {{#if system.hasRoll}}
            <li>
                <label>{{localize "age-system.targetNumber"}} </label>
                <input type="number" name="system.targetNumber" value="{{system.targetNumber}}" data-dtype="Number" />
            </li>
            {{/if}}

            {{!-- Power Force --}}
            <li>
                <label>{{localize "age-system.item.force"}}</label>
                <input type="number" disabled value="{{system.itemForce}}" data-dtype="Number" />
            </li>

            {{#if system.hasTest}}
            <li>
                <label class="two-lines">{{localize "age-system.item.testResist"}}</label>
                <div class="two-lines">
                    <input type="text" disabled value="{{localize (concat "age-system." system.testAbl)}}"/>
                    <input type="text" disabled value="{{system.testFocus}}" data-dtype="String" />
                </div>
            </li>
            {{/if}}

            {{!-- Page Ref --}}
            <li class="feature-controls" data-reference="{{system.reference}}">
                <label class="find-reference {{#if config.pdfoundryOn}}mouse-to-pointer{{/if}}">{{localize "age-system.reference"}}</label>
                <input type="text" name="system.reference" {{#if inChat}}disabled{{/if}} value="{{system.reference}}" placeholder="Page Ref." data-dtype="String"/>
            </li>
        </ul>
    </aside>

    <div class="second-column flexcol">
        <header class="top-banner colorset-first-tier flexrow">
            <div class="header-details">
                <input class="itemname" name="name" type="text" value="{{item.name}}" placeholder={{localize "age-system.name"}}/>
                {{#if system.hasRoll}}
                <div class="sub-details flexrow">
                    {{> "systems/age-system/templates/partials/ability-focus-select.hbs"}}
                </div>
                {{/if}}
            </div>
        </header>
        
        <div class="sheet-main-content metal-background">

            {{!-- Sheet Tab Navigation --}}
            <nav class="add-sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="main">{{localize "age-system.item.desc"}}</a>
                <a class="item" data-tab="bonus">{{localize "age-system.itemMod"}}</a>
                <a class="item" data-tab="options"><i class="fa fa-cog" aria-hidden="true"></i></a>
            </nav>

            <section class="sheet-tab-section">
                {{!-- Main Tab --}}
                <div class="tab main fill-space-height-100" data-group="primary" data-tab="main">
                    <ul class="resource colorset-third-tier editor-parent">
                        <li class="editor-parent no-value-class">
                            {{editor system.longDesc target="system.longDesc" button=true owner=owner editable=true}}
                        </li>
                    </ul>
                </div>

                {{!-- Bonuses Tab --}}
                <div class="tab bonus" data-group="primary" data-tab="bonus">
                    {{> "systems/age-system/templates/partials/bonuses-sheet.hbs"}}
                </div>

                {{!-- Options Tab --}}
                <div class="tab options-section" data-group="primary" data-tab="options">

                    {{!-- More Options --}}
                    <ul class="resource item-group condensed-data">
                        <li class="title colorset-first-tier">
                            {{localize "age-system.charOptions"}}
                        </li>
                        <li class="colorset-third-tier flexrow">
                            <p>
                                <a class="select-options toggle-feature item-name item-box {{#if system.hasRoll}}colorset-first-tier{{else}}colorset-third-tier{{/if}}" data-feature="hasRoll">{{localize "age-system.rollable"}}</a>
                                <a class="select-options toggle-feature item-name item-box {{#if system.hasTest}}colorset-first-tier{{else}}colorset-third-tier{{/if}}" data-feature="hasTest">{{localize "age-system.item.resistedEffect"}}</a>
                                <a class="select-options toggle-feature item-name item-box {{#if system.causeDamage}}colorset-first-tier{{else}}colorset-third-tier{{/if}}" data-feature="causeDamage">{{localize "age-system.item.damage"}}</a>
                                <a class="select-options toggle-feature item-name item-box {{#if system.causeHealing}}colorset-first-tier{{else}}colorset-third-tier{{/if}}" data-feature="causeHealing">{{localize "age-system.item.healing"}}</a>
                                {{#if fatigueSet}}
                                <a class="select-options toggle-feature item-name item-box {{#if system.useFatigue}}colorset-first-tier{{else}}colorset-third-tier{{/if}}" data-feature="useFatigue">{{localize "age-system.useFatigue"}}</a>
                                {{#if system.useFatigue}}
                                <a class="select-options toggle-feature item-name item-box {{#if system.inputFatigueTN}}colorset-first-tier{{else}}colorset-third-tier{{/if}}" data-feature="inputFatigueTN">{{localize "age-system.inputFatigueTN"}}</a>
                                {{/if}}
                                {{/if}}
                            </p>
                        </li>

                        <li class="colorset-third-tier flexrow">
                            {{!-- Power Force Ability --}}
                            <label>{{localize "age-system.item.force"}}</label>
                            <span class="minimal-input">{{system.itemForce}}</span>
                            <select name="system.itemForceAbl" class="extra-input">
                                {{#select system.itemForceAbl}}
                                <option value="no-abl">—</option>
                                {{#each config.abilities as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>

                            {{#unless (and system.inputFatigueTN system.useFatigue fatigueSet)}}
                            {{!-- Power Point Cost --}}
                            <label>{{localize "age-system.powerPoints"}}</label>
                            <input type="text" class="minimal-input" name="system.powerPointCost" value="{{system.powerPointCost}}" data-dtype="Number" />
                            {{#if (ne system.powerPointCost system.powerPointCostTotal)}}
                            <span class="extra-input">({{system.powerPointCostTotal}})</span>
                            {{/if}}
                            {{/unless}}
                        </li>

                        {{#if (and system.useFatigue fatigueSet)}}
                        {{!-- Fatigue Ability --}}
                        <li class="colorset-third-tier flexrow">
                            <label for="">{{localize "age-system.ablFatigue"}}</label>
                            <select name="system.ablFatigue">
                                {{#select system.ablFatigue}}
                                <option value="no-abl">—</option>
                                {{#each config.abilities as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </li>
                        {{/if}}

                        {{#if system.hasTest}}
                        <li class="colorset-third-tier flexrow">
                            <label>{{localize "age-system.item.testResist"}}</label>
                            {{!-- Ability to Resist Power --}}
                            <select name="system.testAbl" class="extra-input">
                                {{#select system.testAbl}}
                                <option value="no-abl">-</option>
                                {{#each config.abilities as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                            {{!-- Focus to Resist Power --}}
                            <input name="system.testFocus" type="text" value="{{system.testFocus}}" placeholder="{{localize "age-system.focus"}}" list="{{item.type}}-{{item._id}}-list-resist"/>
                            <datalist id="{{item.type}}-{{item._id}}-list-resist">
                                <option value=""></option>
                                {{#each config.focus as |focus|}}
                                <option value="{{focus.name}}"></option>
                                {{/each}}
                            </datalist>
                        </li>
                        {{/if}}

                    </ul>

                    {{#if (or system.hasDamage system.hasHealing)}}
                    {{!-- Damage Definition --}}
                    <ul class="resource item-group condensed-data">
                        <li class="title colorset-first-tier">
                            {{localize "age-system.item.damage"}}
                        </li>
                        <li class="colorset-third-tier flexrow">
                            <label>{{localize "age-system.formula"}}</label>
                            {{#if config.healthSys.useInjury}}
                            <input type="text" name="system.damageInjury" value="{{system.damageInjury}}"/>
                            {{else}}
                            <input type="text" name="system.damageFormula" value="{{system.damageFormula}}"/>
                            {{/if}}
                            <div class="extra-input">
                                <span>+<select name="system.dmgAbl">
                                    {{#select system.dmgAbl}}
                                    <option value="no-abl">—</option>
                                    {{#each config.abilities as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select></span>
                            </div>
                        </li>
                        {{#if system.hasTest}}
                        {{!-- Damage if Resisted --}}
                        <li class="colorset-third-tier flexrow">
                            <label>{{localize "age-system.item.resistedEffect"}}</label>
                            {{#if config.healthSys.useInjury}}
                            <input type="text" name="system.damageResisted.damageInjury" value="{{system.damageResisted.damageInjury}}"/>
                            {{else}}
                            <input type="text" name="system.damageResisted.damageFormula" value="{{system.damageResisted.damageFormula}}"/>
                            {{/if}}
                            <div class="extra-input">
                                <span>+<select name="system.damageResisted.dmgAbl">
                                    {{#select system.damageResisted.dmgAbl}}
                                    <option value="no-abl">—</option>
                                    {{#each config.abilities as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select></span>
                            </div>
                        </li>
                        {{/if}}

                        {{#if system.hasDamage}}
                        <li class="colorset-third-tier flexrow">
                            <label class="colorset-third-tier">{{localize "age-system.type"}}</label>
                            {{#if config.healthSys.useBallistic}}
                            <select name="system.dmgType">
                                {{#select system.dmgType}}
                                {{#each config.damageType as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                            {{/if}}
                            <select name="system.dmgSource">
                                {{#select system.dmgSource}}
                                {{#each config.damageSource as |name source|}}
                                <option value="{{source}}">{{localize name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </li>
                        {{/if}}
                    </ul>
                    {{/if}}
                </div>
            </section>
        </div>
    </div>
</form>