<form class="{{cssClass}} age-system item power colorset-selection {{data.colorScheme}}" autocomplete="off">

    <div class="sheet-content item-stats power">
        <div class="flexcol">
            {{#if inChat}}
            <div class="item-card-title colorset-first-tier">{{name}}</div>
            {{else}}
            <input name="name" class="item-card-title colorset-first-tier" type="text" value="{{item.name}}" placeholder="{{localize "age-system.item.name"}}"/>
            {{/if}}
            <div class="item-card-stats flex-justify-center flex-align-start flexrow">
                {{!-- Item Image --}}
                {{> "systems/age-system/templates/partials/item-image-sheet-card.hbs"}} 

                {{#if inChat}}
                {{else}}
                {{!-- Select Damage and Fatigue Options --}}
                <div class="flexcol power-type-control flex-justify-between">
                    <a class="toggle-damage" title="{{localize "age-system.rollDamage"}}">
                        <div class="flexrow flex-justify-center flex-align-center">
                            <i class="fas fa-fist-raised"></i>
                        </div>
                    </a>

                    <a class="toggle-fatigue flexrow use-fatigue-true" title="{{localize "age-system.rollFatigue"}}">
                        <div class="flexrow flex-justify-center flex-align-center">
                            <i class="fas fa-head-side-cough"></i>
                        </div>
                    </a>
                </div>
                {{/if}}
                
                {{!-- Ability/Focus to activate the power --}}
                {{> "systems/age-system/templates/partials/ability-focus-select.hbs"}}

                {{!-- Power Point Cost --}}
                {{#unless data.inputFatigueTN}}
                <div class="flexcol">
                    <label>{{localize "age-system.powerPointsIndex"}}</label>
                    {{#if inChat}}
                    <div>{{data.powerPointCost}}</div>
                    {{else}}
                    <input type="text" name="data.powerPointCost" value="{{data.powerPointCost}}" data-dtype="Number" />
                    {{/if}}
                </div>
                {{/unless}}

                {{!-- Fatigue Setup --}}
                <div class="flexrow use-fatigue-true">
                    {{#if data.useFatigue}}
                    {{#if inChat}}
                    {{else}}
                    <div class="flexcol">
                        <label class="use-fatigue">{{localize "age-system.inputFatigueTN"}}</label>
                        <input class="use-fatigue" type="checkbox" name="data.inputFatigueTN" {{checked data.inputFatigueTN}} class="checkbox"/>
                    </div>
                    {{/if}}
                    <div class="flexcol">
                        <label class="use-fatigue">{{localize "age-system.fatigueTN"}}</label>
                        <input class="use-fatigue" type="number" {{#unless data.inputFatigueTN}}disabled{{/unless}} name="data.fatigueTN" value="{{data.fatigueTN}}" data-dtype="Number" />                   
                    </div>
                    {{/if}}
                </div>

                {{!-- Casting Time --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.cast"}} </label>
                    {{#if inChat}}
                    <div>{{localize (concat "age-system." data.castTime)}}</div>
                    {{else}}
                    <select name="data.castTime" class="data-input">
                    {{#select data.castTime}}
                        {{#each config.actionsToCast as |actionsToCast|}}
                        <option value="{{@key}}">{{localize actionsToCast}}</option>
                        {{/each}}
                    {{/select}}
                    </select>
                    {{/if}}
                </div>

                {{!-- Power Target Number --}}
                <div class="flexcol">
                    <label>{{localize "age-system.targetNumber"}} </label>
                    {{#if inChat}}
                    <div class="data-input">{{data.targetNumber}}</div>
                    {{else}}
                    <input type="number" class="data-input" name="data.targetNumber" value="{{data.targetNumber}}" data-dtype="Number" />
                    {{/if}}
                </div>

                {{!-- Power Force --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.force"}}</label>
                    <span class="data-input">{{data.itemForce}}</span>
                </div>

                {{!-- Power Damage --}}
                {{#if data.causeDamage}}
                {{> "systems/age-system/templates/partials/dmg-block-sheet.hbs"}}
                {{/if}}

            </div>

            {{!-- Active Bonuses --}}
            {{> "systems/age-system/templates/partials/active-bonuses.hbs"}}

            {{#if inChat}}
            {{!-- Description --}}
            <div class="item-card-desc">
                <label>{{localize "age-system.item.desc"}}</label>
                {{editor content=data.longDesc target="data.longDesc" button=false owner=owner editable=editable}}
            </div>
            {{/if}}

        </div>

        {{#if inChat}}
        {{else}}
        {{!-- Tab Control --}}
        {{> "systems/age-system/templates/partials/bonus-desc-sheet.hbs"}}
        {{/if}}

    </div>
</form>
