<form class="{{cssClass}} age-system item power colorset-{{colorScheme}} colorset-selection" autocomplete="off">

    <div class="sheet-content item-stats power">
        <div class="flexcol">
            {{#if inChat}}
            <div class="item-card-title colorset-first-tier">{{name}}</div>
            {{else}}
            <input name="name" class="item-card-title colorset-first-tier" type="text" value="{{item.name}}" placeholder="{{localize "age-system.item.name"}}"/>
            {{/if}}
            <div class="item-card-stats flex-justify-center flex-align-start flexrow">
                {{!-- Item Image --}}
                {{> "systems/age-system/templates/partials/item-image-sheet-card.hbs"}} 

                {{#if (ne inChat true)}}
                {{!-- Select Damage and Fatigue Options --}}
                <div class="power-type-control">
                    <a class="toggle-damage colorset-second-tier {{#unless data.hasDamage}}not-equiped{{/unless}}" title="{{localize "age-system.rollDamage"}}">
                        <div class="flexrow flex-justify-center flex-align-center">
                            <i class="fas fa-fist-raised"></i>
                        </div>
                    </a>
    
                    <a class="toggle-healing colorset-second-tier {{#unless data.hasHealing}}not-equiped{{/unless}}" title="{{localize "age-system.rollHealing"}}">
                        <div class="flexrow flex-justify-center flex-align-center">
                            <i class="fas fa-heart"></i>
                        </div>
                    </a>

                    <a class="toggle-resist colorset-second-tier {{#unless data.hasTest}}not-equiped{{/unless}}" title="{{localize "age-system.rollHealing"}}">
                        <div class="flexrow flex-justify-center flex-align-center">
                            <i class="far fa-dot-circle"></i>
                        </div>
                    </a>

                    <a class="toggle-fatigue flexrow use-fatigue-true colorset-second-tier {{#unless data.hasFatigue}}not-equiped{{/unless}}" title="{{localize "age-system.rollFatigue"}}">
                        <div class="flexrow flex-justify-center flex-align-center">
                            <i class="fas fa-head-side-cough"></i>
                        </div>
                    </a>
                </div>
                {{/if}}
                
                {{!-- Ability/Focus to activate the power --}}
                {{> "systems/age-system/templates/partials/ability-focus-select.hbs"}}

                {{!-- Power Point Cost --}}
                {{#unless (and data.inputFatigueTN data.hasFatigue)}}
                {{#unless (and inChat data.hasFatigue)}}
                <div class="flexcol">
                    <label>{{localize "age-system.powerPointsIndex"}}</label>
                    {{#if inChat}}
                    <div>{{data.powerPointCost}}</div>
                    {{else}}
                    <input type="text" name="data.powerPointCost" value="{{data.powerPointCost}}" data-dtype="Number" />
                    {{/if}}
                </div>
                {{/unless}}
                {{/unless}}

                {{!-- Fatigue Setup --}}
                {{#if data.useFatigue}}
                {{#if (ne inChat true)}}       
                <div class="flexcol use-fatigue-true">
                    <label class="use-fatigue">{{localize "age-system.ablFatigue"}}</label>
                    <select name="data.ablFatigue" class="data-input">
                        {{#select data.ablFatigue}}
                        {{#each config.abilities as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="flexcol use-fatigue-true">
                    <label class="use-fatigue">{{localize "age-system.inputFatigueTN"}}</label>
                    <input class="use-fatigue" type="checkbox" name="data.inputFatigueTN" {{checked data.inputFatigueTN}} class="checkbox"/>
                </div>
                {{/if}}
                <div class="flexcol use-fatigue-true">
                    <label class="use-fatigue">{{localize "age-system.fatigueTN"}}</label>
                    <input class="use-fatigue" type="number" {{#unless data.inputFatigueTN}}disabled{{/unless}} name="data.fatigueTN" value="{{data.fatigueTN}}" data-dtype="Number" />                   
                </div>
                {{/if}}

                {{!-- Casting Time --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.cast"}} </label>
                    {{#if inChat}}
                    <div>{{localize (concat "age-system." data.castTime)}}</div>
                    {{else}}
                    <select name="data.castTime" class="data-input">
                    {{#select data.castTime}}
                        {{#each config.actionsToCast as |actionsToCast|}}
                        <option value="{{@key}}">{{localize actionsToCast}}</option>
                        {{/each}}
                    {{/select}}
                    </select>
                    {{/if}}
                </div>

                {{!-- Power Target Number --}}
                <div class="flexcol">
                    <label>{{localize "age-system.targetNumber"}} </label>
                    {{#if inChat}}
                    <div class="data-input">{{data.targetNumber}}</div>
                    {{else}}
                    <input type="number" class="data-input" name="data.targetNumber" value="{{data.targetNumber}}" data-dtype="Number" />
                    {{/if}}
                </div>

                {{!-- Power Force --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.force"}}</label>
                    <span class="data-input">{{data.itemForce}}</span>
                    {{#if (ne inChat true)}}
                    {{!-- Ability to activate item --}}
                    <div class="flexcol">
                        <select name="data.itemForceAbl" class="data-input">
                            {{#select data.itemForceAbl}}
                            {{#each config.abilities as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    {{/if}}             
                </div>

                {{!-- Resist Test --}}
                {{#if data.hasTest}}
                {{#if inChat}}
                <div class="flexcol flex-align-center">
                    <label style="white-space: nowrap;">{{localize "age-system.item.testResist"}}</label>
                    <p style="white-space: nowrap;">{{localize (concat "age-system." data.testAbl)}} ({{data.testFocus}})</p>
                </div>
                {{else}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.testResist"}}</label>
                    {{!-- Ability to Resist Power --}}
                    <select name="data.testAbl" class="data-input">
                        {{#select data.testAbl}}
                        {{#each config.abilities as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{!-- Focus to Resist Power --}}
                    <input name="data.testFocus" class="data-input" type="text" value="{{data.testFocus}}" placeholder="{{localize "age-system.focus"}}" list="{{item.type}}-{{item._id}}-list"/>
                    <datalist id="{{item.type}}-{{item._id}}-list">
                        <option value=""></option>
                        {{#each config.focus as |focus|}}
                        <option value="{{focus.name}}"></option>
                        {{/each}}
                    </datalist>
                </div>
                {{/if}}
                {{/if}}

                {{!-- Power Damage/Heal --}}
                {{#if (or data.causeDamage data.causeHealing)}}
                {{> "systems/age-system/templates/partials/dmg-block-sheet.hbs"}}
                {{/if}}

            </div>

            {{!-- Active Bonuses --}}
            {{> "systems/age-system/templates/partials/active-bonuses.hbs"}}

            {{#if inChat}}
            {{!-- Description --}}
            <div class="item-card-desc">
                <label>{{localize "age-system.item.desc"}}</label>
                {{editor content=data.longDesc target="data.longDesc" button=false owner=owner editable=editable}}
            </div>
            {{/if}}

        </div>

        {{#if (ne inChat true)}}
        {{!-- Tab Control --}}
        {{> "systems/age-system/templates/partials/bonus-desc-sheet.hbs"}}
        {{/if}}

    </div>
</form>
