<form class="{{cssClass}} age-system item power colorset-selection colorset-modern-blue" autocomplete="off">

    <div class="sheet-content item-stats power">
        <div class="flexcol">
            {{#if inChat}}
            <div class="item-card-title colorset-first-tier">{{name}}</div>
            {{else}}
            <input name="name" class="item-card-title colorset-first-tier" type="text" value="{{item.name}}" placeholder="{{localize "age-system.item.name"}}"/>
            {{/if}}
            <div class="item-card-stats flex-justify-center flexrow">

                {{!-- Ability to activate the power --}}
                <div class="flexrow">
                    <label>{{localize "age-system.abl"}}:</label>
                    {{#if inChat}}
                    <div class="data-input">{{localize (concat "age-system." data.useAbl)}}</div>
                    {{else}}
                    <select name="data.useAbl" class="data-input">
                        {{#select data.useAbl}}
                        {{#each config.abilities as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                </div>

                {{!-- Focus used to activate the power --}}
                <div class="flexrow">
                    <label>{{localize "age-system.focus"}}:</label>
                    {{#if inChat}}
                    <div name="data.useFocus" class="data-input">{{data.useFocus}}</div>
                    {{else}}                    
                    <input name="data.useFocus" class="data-input" type="text" value="{{data.useFocus}}" placeholder="Focus Name" list="{{item.type}}-{{item._id}}-list"/>
                    <datalist id="{{item.type}}-{{item._id}}-list">
                        <option value=""></option>
                        {{#each config.focus as |focus|}}
                        <option value="{{focus.name}}"></option>
                        {{/each}}
                    </datalist>
                    {{/if}}
                </div>

                {{!-- Power Point Cost --}}
                <div class="flexrow">
                    <label>{{localize "age-system.powerPointsIndex"}}:</label>
                    {{#if inChat}}
                    <div>{{data.manaCost}}</div>
                    {{else}}
                    <input type="text" name="data.manaCost" value="{{data.manaCost}}" data-dtype="Number" />
                    {{/if}}
                </div>

                {{!-- Fatigue Setup --}}
                <div class="flexrow">
                    {{#if inChat}}
                    {{else}}
                    <label>{{localize "age-system.useFatigue"}}</label>
                    <input type="checkbox" name="data.useFatigue" {{checked data.useFatigue}} class="checkbox"/>
                    {{/if}}
                    {{#if data.useFatigue}}
                    <label class="use-fatigue">{{localize "age-system.inputFatigueTN"}}:</label>
                    <input class="use-fatigue" type="checkbox" name="data.inputFatigueTN" {{checked data.inputFatigueTN}} class="checkbox"/>
                    <label class="use-fatigue">{{localize "age-system.fatigueTN"}}:</label>
                    <input class="use-fatigue" type="number" name="data.fatigueTN" value="{{data.fatigueTN}}" data-dtype="Number" />                   
                    {{/if}}
                </div>

                {{!-- Casting Time --}}
                <div class="flexrow">
                    <label>{{localize "age-system.item.cast"}}:</label>
                    {{#if inChat}}
                    <div>{{localize (concat "age-system." data.castTime)}}</div>
                    {{else}}
                    <select name="data.castTime" class="data-input">
                    {{#select data.castTime}}
                        {{#each config.actionsToCast as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                    </select>
                    {{/if}}
                </div>

                {{!-- Power Target Number --}}
                <div class="flexrow">
                    <label>{{localize "age-system.targetNumber"}}:</label>
                    {{#if inChat}}
                    <div class="data-input">{{data.targetNumber}}</div>
                    {{else}}
                    <input type="number" class="data-input" name="data.targetNumber" value="{{data.targetNumber}}" data-dtype="Number" />
                    {{/if}}
                </div>

                {{!-- Power Force --}}
                <div class="flexrow">
                    <label>{{localize "age-system.item.force"}}</label>
                    <span class="data-input">{{data.itemForce}}</span>
                </div>

                {{!-- Power Damage --}}
                {{#if inChat}}
                {{else}}
                <div class="flexrow">
                    <label>{{localize "age-system.hasDamage"}}</label>
                    <input type="checkbox" class="check-damage" name="data.causeDamage" {{checked data.causeDamage}} class="checkbox"/>
                </div>
                {{/if}}
                {{#if data.causeDamage}}
                {{> "systems/age-system/templates/partials/dmg-block-sheet.hbs"}}
                {{/if}}
            </div>
                        
            {{!-- Active Bonuses --}}
            <div class="flexrow item-card-stats">
                {{!-- Active Bonuses --}}
                {{#each data.itemMods as |item|}}
                {{#if item.isActive}}
                    <div class="item-box flexcol">
                        <label>{{localize (concat "age-system.bonus." @key)}}</label>
                        <span>{{item.value}}</span>
                    </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
 
        {{> "systems/age-system/templates/partials/bonus-desc-sheet.hbs"}}

    </div>
</form>
