<form class="{{cssClass}} age-system sheet colorset-{{colorScheme}} spaceship" autocomplete="off">

    <input name="name" class="spaceship-name colorset-first-tier" type="text" value="{{actor.name}}" placeholder="{{localize "age-system.item.name"}}"/>
    <div class="flexrow image-description">
        <img class="ship-image" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div class="ship-desc">
            <label class="colorset-second-tier desc">{{localize "age-system.item.desc"}}</label>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </div>

    {{!-- Spaceship Systems --}}
    <div class="stats-block systems colorset-second-tier ">
        <h2>{{localize "age-system.spaceship.systems"}}</h3>
        <ul class="systems-list">
            <datalist id="{{this.actor.data.type}}-{{this.actor.id}}-list">
                <option value=""></option>
                {{#each config.focus as |focus|}}
                <option value="{{focus.name}}"></option>
                {{/each}}
            </datalist>
            <li class="flexrow">
                <p class="system-role title">{{localize "age-system.spaceship.role"}}</p>
                <p class="system-operator">{{localize "age-system.spaceship.op"}}</p>
                <p class="system-abl">{{localize "age-system.abl"}}</p>
                <p class="system-focus">{{localize "age-system.focus"}}</p>
            </li>
            {{#each data.data.systems as |system sysName|}}
            <li class="feature-controls {{sysName}} flexrow" data-sys-name={{sysName}}>
                <p class="system-role">{{localize (concat "age-system.spaceship.operator." sysName)}} 
                    <a class="system-roll roll-maneuver {{#if ../isSynth}}is-synth{{/if}}" data-sys-name="{{sysName}}" data-sys-box="1"><i class="fas fa-dice"></i></a>
                </p>
                <select name="data.systems.{{sysName}}.operator" {{#if ../isSynth}}disabled{{/if}} class="system-operator">
                    {{#select system.operator}}
                    <option value="crew">{{localize "age-system.spaceship.crew"}}</option>
                    {{#if ../notSynth}}
                    {{#each ../passengers as |passenger|}}
                    <option value="{{passenger.id}}">{{passenger.name}}</option>
                    {{/each}}
                    {{/if}}
                    {{/select}}
                </select>
                <select name="data.systems.{{sysName}}.useAbl" class="system-abl">
                    {{#select system.useAbl}}
                    {{#each ../config.abilities as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <input name="data.systems.{{sysName}}.useFocus" class="system-focus" type="text" value="{{system.useFocus}}" placeholder="Focus Name" list="{{../this.actor.data.type}}-{{../this.actor.id}}-list"/>
            </li>
            {{/each}}
        </ul>
    </div>

    {{!-- Ship Parameters --}}
    <div class="flexrow">
        {{!-- Parameters First Column --}}
        <div class="flexcol container">

            {{!-- Crew Block --}}
            <div class="crew colorset-third-tier stats-block">
                <h2>{{localize "age-system.spaceship.crew"}}</h2>
                <div class="crew-details flexcol">
                    <div class="flex-align-center flexrow">
                        <label class="current-crew">{{localize "age-system.spaceship.crewCur"}}</label>
                        <input class="current-crew" type="number" name="data.crew.current" value="{{data.data.crew.current}}" data-dtype="Number" />
                        <label class="min-typ-crew">{{localize "age-system.spaceship.crewMin"}}/{{localize "age-system.spaceship.crewTyp"}}</label>
                        <div class="min-typ-crew flexrow">
                            <input class="min-typ-crew" type="number" name="data.crew.min" disabled value="{{data.data.crew.min}}" data-dtype="Number" />
                            <span>(</span>
                            <input class="min-typ-crew" type="number" name="data.crew.typical" disabled value="{{data.data.crew.typical}}" data-dtype="Number" />
                            <span>)</span>
                        </div>
                    </div>

                    <div class="flexrow flex-align-center flex-justify-center crew-competence">
                        <label class="competence-label">{{localize "age-system.spaceship.competence"}}</label>
                        <select class="competence-list" name="data.crew.competence">
                            {{#select data.data.crew.competence}}
                            {{#each config.spaceshipCrewCompetence as |compet competKey|}}
                            <option value="{{compet}}">{{localize (concat "age-system.spaceship.competenceLevel." competKey)}} (+{{compet}})</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="flexrow hull-sensor stats-block colorset-third-tier ">

                {{!-- Hull Block --}}
                <fieldset class="hull">
                    <legend><a class="roll-hull"><i class="fas fa-dice"></i></a> {{localize "age-system.spaceship.hull"}}</legend>
                    <div class="flexrow flex-align-center size">
                        <label class="hull-label">{{localize "age-system.spaceship.size"}}</label>
                        <select class="ship-size" name="data.size" class="dice-size">
                            {{#select data.data.size}}
                            {{#each config.spaceshipSize as |size sizeKey|}}
                            <option value="{{size}}">{{localize (concat "age-system.spaceship.sizeType." sizeKey)}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="flexrow flex-align-center">
                        <label class="hull-label">{{localize "age-system.base"}}</label>
                        <p class="hull-value user-data">{{data.data.hull.base}}</p>
                    </div>
                    <div class="flexrow flex-align-center">
                        <label class="hull-label">{{localize "age-system.total"}}</label>
                        <p class="hull-value user-data">{{data.data.hull.total}}</p>
                    </div>
                </fieldset>

                {{!-- Sensors Block --}}
                <div class="flexcol">
                    <div class="crew-size-penalty flexrow flex-align-center">
                        <label>{{localize "age-system.spaceship.crewPenalty"}}</label>                        
                        <p class="user-data">{{data.data.crewPenalty}}</p>
                    </div>    
                    <fieldset class="sensors">
                        <legend>{{localize "age-system.spaceship.systemName.sensors"}}</legend>
                        <div class="flexrow flex-align-center">
                            <label class="sensor-field">{{localize "age-system.base"}}</label>
                            <input class="sensor-field" type="number" name="data.systems.sensors.base" value="{{data.data.systems.sensors.base}}" data-dtype="Number" />
                        </div>
                        <div class="flexrow flex-align-center">
                            <label class="sensor-field">{{localize "age-system.total"}}</label>
                            <p class="sensor-field user-data">{{data.data.systems.sensors.total}}</p>
                        </div>
                    </fieldset>    
                </div>
            </div>

            {{!-- Losses Section --}}
            <div class="stats-block losses colorset-third-tier ">
                <h2>{{localize "age-system.spaceship.lossesCond"}}</h2>
                <ul>
                    {{#each data.data.losses as |v k|}}
                    <li>
                        <label><h3>{{localize (concat "age-system.spaceship." k "Loss")}}</h3></label>
                        <ul>
                            {{#each v as |v2 k2|}}  
                            <li class="flexrow feature-controls" data-loss-sev="{{k}}" data-loss-type="{{k2}}">
                                <label class="loss-name">{{localize (concat "age-system.spaceship." k2 "Loss")}} [{{v2.actual}}]</label>
                                {{#each v2.maxArray as |v3 k3|}}
                                <a class="loss-checkbox change-loss {{#if v3}}full-box{{/if}}" data-box-number="{{k3}}"></a>
                                {{/each}}
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>

                {{!-- Loss Control Block --}}
                <h3 class="feature-controls" data-passenger-id="{{data.data.systems.damageControl.operator}}">
                    {{localize "age-system.damageControl"}}
                    <a class="roll-maneuver {{#if isSynth}}is-synth{{/if}}" data-sys-name="damageControl" title="{{localize "age-system.damageControl"}}">
                        <i class="fas fa-cogs"></i>
                    </a>
                </h3>
                <div class="flexrow flex-align-center flex-justify-center damage-control-box">
                    <label class="tn-input">{{localize "age-system.targetNumber"}}</label>
                    <input class="numeric-input" type="number" name="data.systems.damageControl.TN" value="{{data.data.systems.damageControl.TN}}" data-dtype="Number" />
                    <label class="threshold-input">{{localize "age-system.testThreshold"}} ({{localize "age-system.targetCurrent"}})</label>
                    <div class="flexrow threshold-box">
                        <input class="numeric-input" type="number" name="data.systems.damageControl.threshold.target" value="{{data.data.systems.damageControl.threshold.target}}" data-dtype="Number" />
                        <span>/</span>
                        <input class="numeric-input" type="number" name="data.systems.damageControl.threshold.current" value="{{data.data.systems.damageControl.threshold.current}}" data-dtype="Number" />
                    </div>
                </div>
            </div>
        </div>

        <div class="flexcol">
            {{!-- Passenger Container --}}
            {{#if notSynth}}
            <div class="passenger flexcol colorset-third-tier stats-block">
                <h2>{{localize "age-system.passengers"}} [{{data.data.pob}}]</h2>
                <ul class="passenger-list">
                    {{#each passengers as |passenger|}}
                    <li class="flexrow feature-controls flex-align-center" data-passenger-key="{{@key}}" data-passenger-id="{{passenger.id}}"  data-passenger-name="{{passenger.name}}">
                        <a class="remove-passenger"><i class="fa fa-minus"></i></a>
                        <img src="{{passenger.picture}}" class="passenger-token">
                        <div class="flexrow flex-justify-start flex-align-center passenger-name">
                            <span>{{passenger.name}}</span>
                            {{#if passenger.isCaptain}}<span>({{localize "age-system.spaceship.operator.command"}})</span>{{/if}}
                            {{#if passenger.isPilot}}<span>({{localize "age-system.spaceship.operator.maneuver"}})</span>{{/if}}
                            {{#if passenger.isSensorOp}}<span>({{localize "age-system.spacehsip.operator.sensors"}})</span>{{/if}}
                        </div>
                        <a class="passenger-damage-control roll-maneuver" data-sys-name="damageControl" title="{{localize "age-system.damageControl"}}"><i class="fas fa-cogs"></i></a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            {{!-- Weapon Block --}}
            <div class="stats-block colorset-third-tier">
                <h2>{{localize "age-system.spaceship.weapon"}}</h2>
                <ul class="weapon-list">
                    <li class="flexrow">
                        <div class="item-img"></div>
                        <div class="weapon-name"><label for="">{{localize "age-system.item.name"}}</label></div>
                        <div class="weapon-dmg"><label for="">{{localize "age-system.formula"}}</label></div>
                        {{!-- <div class="weapon-ctrl add"><a><i class="fa fa-plus"></i></a></div> --}}
                    </li>
                    {{#each weapon as |item|}}
                    <li class="flexrow item-desc feature-controls flex-align-center" data-item-id="{{item.id}}">
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <p class="weapon-name {{#unless item.data.isActive}}inactive{{/unless}}">{{item.name}}</p>
                        <p class="weapon-dmg roll-damage {{#if item.data.isActive}}roll{{else}}inactive{{/if}}" title="{{localize "age-system.rollDamage"}}">{{item.data.damage}}</p>
                        <a class="weapon-icon toggle {{#unless item.data.isActive}}inactive{{/unless}}"><i class="fas fa-power-off"></i></a>
                        <a class="weapon-icon edit"><i class="fas fa-edit"></i></a>
                        <a class="weapon-icon remove"><i class="fa fa-trash"></i></a>
                    </li>
                    {{/each}}
                </ul>
            </div>

            {{!-- Quality Block --}}
            <div class="quality-block colorset-third-tier stats-block">
                <h2>{{localize "age-system.spaceship.quality"}}</h2>
                <ul class="quality-list">
                    <li class="flexrow">
                        <div class="item-img"></div>
                        <div class="feature-name"><label>{{localize "age-system.item.name"}}</label></div>
                        <div class="feature-type"><label>{{localize "age-system.spaceship.qualityType"}}</label></div>
                        <div class="feature-value"><label>{{localize "age-system.value"}}</label></div>
                    </li> 
                    {{#each qualities as |item|}}
                    <li class="flexrow item-desc feature-controls flex-align-center" data-item-id="{{item.id}}">
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <p class="feature-name">{{item.name}}</p>
                        <p class="feature-type">{{localize (concat "age-system.spaceship." item.data.type)}}</p>
                        {{#if (eq item.data.type "sensorMod")}}
                        <p class="feature-value">{{item.data.sensorMod}}</p>
                        {{/if}}
                        {{#if (eq item.data.type "maneuverSizeMod")}}
                        <p class="feature-value">{{item.data.maneuverSizeStep}}</p>
                        {{/if}}
                        {{#if (eq item.data.type "juiceMod")}}
                        <p class="feature-value">{{item.data.juiceMod}}</p>
                        {{/if}}
                        {{#if (eq item.data.type "hullPlating")}}
                        <p class="feature-value">{{item.data.hullPlating}}</p>
                        {{/if}}
                        {{#if (eq item.data.type "hullMod")}}
                        <p class="feature-value">{{item.data.hullMod}}</p>
                        {{/if}}
                        {{#if (or (eq item.data.type "rollable") (eq item.data.type "special"))}}
                        <p class="feature-value">—</p>
                        {{/if}}
                        <a class="edit feature-icon"><i class="fas fa-edit"></i></a>
                        <a class="remove feature-icon"><i class="fa fa-trash"></i></a>
                    </li>
                    {{/each}}
                </ul>

                {{!-- Flaws Block --}}
                <h2>{{localize "age-system.spaceship.flaw"}}</h2>
                <ul class="quality-list">
                    <li class="flexrow">
                        <div class="item-img"></div>
                        <div class="feature-name"><label>{{localize "age-system.item.name"}}</label></div>
                        <div class="feature-type"><label>{{localize "age-system.spaceship.qualityType"}}</label></div>
                        <div class="feature-value"><label>{{localize "age-system.value"}}</label></div>
                    </li> 
                    {{#each flaws as |item|}}
                    <li class="flexrow item-desc feature-controls flex-align-center" data-item-id="{{item.id}}">
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <p class="feature-name">{{item.name}}</p>
                        <p class="feature-type">{{localize (concat "age-system.spaceship." item.data.type)}}</p>
                        {{#if (eq item.data.type "sensorMod")}}
                        <p class="feature-value">{{item.data.sensorMod}}</p>
                        {{/if}}
                        {{#if (eq item.data.type "maneuverSizeMod")}}
                        <p class="feature-value">{{item.data.maneuverSizeStep}}</p>
                        {{/if}}
                        {{#if (eq item.data.type "juiceMod")}}
                        <p class="feature-value">{{item.data.juiceMod}}</p>
                        {{/if}}
                        {{#if (eq item.data.type "hullPlating")}}
                        <p class="feature-value">{{item.data.hullPlating}}</p>
                        {{/if}}
                        {{#if (eq item.data.type "hullMod")}}
                        <p class="feature-value">{{item.data.hullMod}}</p>
                        {{/if}}
                        {{#if (or (eq item.data.type "rollable") (eq item.data.type "special"))}}
                        <p class="feature-value">—</p>
                        {{/if}}
                        <a class="edit feature-icon"><i class="fas fa-edit"></i></a>
                        <a class="remove feature-icon"><i class="fa fa-trash"></i></a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</form>
