<form class="{{cssClass}} age-system sheet colorset-{{colorScheme}} spaceship" autocomplete="off">

    <input name="name" class="spaceship-name colorset-first-tier" type="text" value="{{actor.name}}" placeholder="{{localize "age-system.item.name"}}"/>
    <div class="sheet-body colorset-second-tier">
        <div class="stats-block systems">
            <h3>{{localize "age-system.spaceship.systems"}}</h3>
            <ul class="systems-list">
                <datalist id="{{this.actor.data.type}}-{{this.actor._id}}-list">
                    <option value=""></option>
                    {{#each config.focus as |focus|}}
                    <option value="{{focus.name}}"></option>
                    {{/each}}
                </datalist>
                <li class="flexrow">
                    <p class="system-role title">{{localize "age-system.spaceship.role"}}</p>
                    {{!-- <p class="system-roll"></p> --}}
                    <p class="system-operator">{{localize "age-system.spaceship.op"}}</p>
                    <p class="system-abl">{{localize "age-system.abl"}}</p>
                    <p class="system-focus">{{localize "age-system.focus"}}</p>
                </li>
                {{#each data.systems as |system sysName|}}
                <li class="feature-controls {{sysName}} flexrow" data-sys-name={{sysName}}>
                    <p class="system-role">{{localize (concat "age-system.spaceship.operator." sysName)}} 
                        <a class="system-roll roll-maneuver" data-sys-name="{{sysName}}" data-sys-box="1"><i class="fas fa-dice"></i></a>
                    </p>
                    <select name="data.systems.{{sysName}}.operator" class="system-operator">
                        {{#select system.operator}}
                        <option value="crew">{{localize "age-system.spaceship.crew"}}</option>
                        {{#each ../passengers as |passenger|}}
                        <option value="{{passenger.id}}">{{passenger.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <select name="data.systems.{{sysName}}.useAbl" class="system-abl">
                        {{#select system.useAbl}}
                        {{#each ../config.abilities as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <input name="data.systems.{{sysName}}.useFocus" class="system-focus" type="text" value="{{system.useFocus}}" placeholder="Focus Name" list="{{../this.actor.data.type}}-{{../this.actor._id}}-list"/>
                </li>
                {{/each}}
            </ul>
        </div>
        <hr>
        <div class="stats-block parameters flexrow">
            
            <div class="parameters container">
                {{!-- TODO - TRANSFORMAR EM HULL --}}
                <div class="flexrow">
                    {{!-- <div class="flexrow flex-align-center hull">
                        <label class="parameter-label">{{localize "age-system.spaceship.hull"}}</label>
                        <input class="hull-dice-qtd" type="number" name="data.hull.nrDice" value="{{data.hull.nrDice}}" data-dtype="Number" />
                        <select class="hull-dice-type" name="data.hull.diceType" class="dice-size">
                            {{#select data.hull.diceType}}
                            <option value="6">{{localize "age-system.settings.d6"}}</option>
                            <option value="3">{{localize "age-system.settings.d3"}}</option>
                            {{/select}}
                        </select>
                        <span class="hull-plus-sign">{{localize "age-system.settings.plusSign"}}</span>
                        <input class="hull-extra-damage" type="number" name="data.hull.extraValue" value="{{data.hull.extraValue}}" data-dtype="Number" />
                    </div> --}}
                    <div class="flexrow flex-align-center size">
                        <label class="parameter-label">{{localize "age-system.spaceship.size"}}</label>
                        <select class="ship-size" name="data.size" class="dice-size">
                            {{#select data.size}}
                            {{#each config.spaceshipSize as |size sizeKey|}}
                            <option value="{{size}}">{{localize (concat "age-system.spaceship.sizeType." sizeKey)}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                <fieldset class="crew">
                    <legend>{{localize "age-system.spaceship.crew"}}</legend>
                    {{!-- <label class="parameter-label">{{localize "age-system.spaceship.crew"}}</label> --}}
                    
                    <div class="crew-details flexcol">
                        <div class="flex-align-center flexrow">
                            <label class="current-crew">{{localize "age-system.spaceship.crewCur"}}</label>
                            <input class="current-crew" type="number" name="data.crew.current" value="{{data.crew.current}}" data-dtype="Number" />
                            <label class="min-typ-crew">{{localize "age-system.spaceship.crewMin"}}/{{localize "age-system.spaceship.crewTyp"}}</label>
                            <div class="min-typ-crew flexrow">
                                <input class="min-typ-crew" type="number" name="data.crew.min" value="{{data.crew.min}}" data-dtype="Number" />
                                <span>(</span>
                                <input class="min-typ-crew" type="number" name="data.crew.typical" value="{{data.crew.typical}}" data-dtype="Number" />
                                <span>)</span>
                            </div>
                        </div>

                        <div class="flexrow flex-align-center flex-justify-center crew-competence">
                            <label class="competence-label">{{localize "age-system.spaceship.competence"}}</label>
                            <select class="competence-list" name="data.crew.competence">
                                {{#select data.crew.competence}}
                                {{#each config.spaceshipCrewCompetence as |compet competKey|}}
                                <option value="{{compet}}">{{localize (concat "age-system.spaceship.competenceLevel." competKey)}} (+{{compet}})</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    
                </fieldset>
                <fieldset class="hull">
                    <legend>{{localize "age-system.spaceship.hull"}}</legend>
                    <div class="flexrow flex-align-center flex-justify-center hull">
                        <label class="parameter-label">{{localize "age-system.base"}}</label>
                        <input class="hull-dice-qtd" type="number" name="data.hull.nrDice" value="{{data.hull.nrDice}}" data-dtype="Number" />
                        <select class="hull-dice-type" name="data.hull.diceType" class="dice-size">
                            {{#select data.hull.diceType}}
                            <option value="6">{{localize "age-system.settings.d6"}}</option>
                            <option value="3">{{localize "age-system.settings.d3"}}</option>
                            {{/select}}
                        </select>
                        <label class="parameter-label">{{localize "age-system.mod"}}</label>
                        <input class="hull-extra-damage" type="number" name="data.hull.extraValue" value="{{data.hull.extraValue}}" data-dtype="Number" />
                        <label class="parameter-label">{{localize "age-system.spaceship.loss"}}</label>
                        <input class="hull-extra-damage" disabled type="number" name="data.losses.normal.hull.actual" value="{{data.losses.normal.hull.actual}}" data-dtype="Number" />
                    </div>
                </fieldset>
                <fieldset class="sensors">
                    <legend>{{localize "age-system.spaceship.systemSensors"}}</legend>
                    <div class="flexrow flex-align-center">
                        <label class="sensor-field">{{localize "age-system.base"}}</label>
                        <input class="sensor-field" type="number" name="data.systems.sensors.base" value="{{data.systems.sensors.base}}" data-dtype="Number" />
                        <label class="sensor-field">{{localize "age-system.mod"}}</label>
                        <input class="sensor-field" type="number" name="data.systems.sensors.mod" value="{{data.systems.sensors.mod}}" data-dtype="Number" />
                        <label class="sensor-field">{{localize "age-system.spaceship.loss"}}</label>
                        <input class="sensor-field" type="number" disabled name="data.losses.normal.sensors.actual" value="{{data.losses.normal.sensors.actual}}" data-dtype="Number" />
                        <label class="sensor-field">{{localize "age-system.total"}}</label>
                        <input class="sensor-field" type="number" disabled name="data.systems.sensors.total" value="{{data.systems.sensors.total}}" data-dtype="Number" />
                    </div>
                </fieldset>
            </div>

            <div class="passenger container">
                <label class="flexrow flex-align-center">{{localize "age-system.passengers"}} [{{data.pob}}]</label>
                <ul class="passenger-list">
                    {{#each passengers as |passenger|}}
                    <li class="flexrow feature-controls flex-align-center" data-passenger-key="{{@key}}" data-passenger-id="{{passenger.id}}"  data-passenger-name="{{passenger.name}}">
                        <a class="remove-passenger"><i class="fa fa-minus"></i></a>
                        <img src="{{passenger.picture}}" class="passenger-token">
                        <div class="flexrow flex-justify-start flex-align-center passenger-name">
                            <span>{{passenger.name}}</span>
                            {{#if passenger.isCaptain}}<span>({{localize "age-system.spaceship.operator.command"}})</span>{{/if}}
                            {{#if passenger.isPilot}}<span>({{localize "age-system.spaceship.operator.maneuver"}})</span>{{/if}}
                            {{#if passenger.isSensorOp}}<span>({{localize "age-system.spacehsip.operator.sensors"}})</span>{{/if}}
                        </div>
                        <a class="passenger-damage-control roll-maneuver" data-sys-name="damageControl" title="{{localize "age-system.damageControl"}}"><i class="fas fa-cogs"></i></a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <hr>
        <div class="flexrow">
            <div class="stats-block losses">
                <h2>{{localize "age-system.spaceship.lossesCond"}}</h2>
                <ul>
                    {{#each data.losses as |v k|}}
                    <li>
                        <label><h3>{{localize (concat "age-system.spaceship." k "Loss")}}</h3></label>
                        <ul>
                            {{#each v as |v2 k2|}}  
                            <li class="flexrow feature-controls" data-loss-sev="{{k}}" data-loss-type="{{k2}}">
                                <label class="loss-name">{{localize (concat "age-system.spaceship." k2 "Loss")}} [{{v2.actual}}]</label>
                                {{#each v2.maxArray as |v3 k3|}}
                                <a class="loss-checkbox change-loss {{#if v3}}full-box{{/if}}" data-box-number="{{k3}}"></a>
                                {{/each}}
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
                <h3>
                    {{localize "age-system.damageControl"}}
                    <a class="roll-maneuver" data-sys-name="damageControl" title="{{localize "age-system.damageControl"}}">
                        <i class="fas fa-cogs"></i>
                    </a>
                </h3>
                <div class="flexrow flex-align-center flex-justify-center damage-control-box">
                    <label class="tn-input">{{localize "age-system.targetNumber"}}</label>
                    <input class="numeric-input" type="number" name="data.systems.damageControl.TN" value="{{data.systems.damageControl.TN}}" data-dtype="Number" />
                    <label class="threshold-input">{{localize "age-system.testThreshold"}} ({{localize "age-system.targetCurrent"}})</label>
                    <div class="flexrow threshold-box">
                        <input class="numeric-input" type="number" name="data.systems.damageControl.threshold.target" value="{{data.systems.damageControl.threshold.target}}" data-dtype="Number" />
                        <span>/</span>
                        <input class="numeric-input" type="number" name="data.systems.damageControl.threshold.current" value="{{data.systems.damageControl.threshold.current}}" data-dtype="Number" />
                    </div>
                </div>
            </div>    
            <div class="weapon-block">
                <h2>Armas Aqui</h2>
            </div>
        </div>
    </div>
</form>
