<form class="{{cssClass}} age-system item colorset-{{colorScheme}} colorset-selection" autocomplete="off">

    <div class="sheet-content item-stats talent">
        <div class="flexcol">
            {{#if inChat}}
            <div class="item-card-title colorset-first-tier" type="text">{{name}}</div>
            {{else}}
            <input name="name" class="item-card-title colorset-first-tier" type="text" value="{{item.name}}" placeholder="{{localize "age-system.item.name"}}"/>
            {{/if}}
            <div class="item-card-stats flexrow">
                
                {{!-- Item Image --}}
                {{> "systems/age-system/templates/partials/item-image-sheet-card.hbs"}} 
                
                {{!-- Degree Level --}}
                <div class="flexcol">
                    <label>{{localize "age-system.talentDegree"}}</label>
                    {{#if inChat}}
                    <div class="data-input">{{data.shortDesc}}</div>
                    {{else}}
                    <input type="text" name="data.shortDesc" value="{{data.shortDesc}}" placeholder="{{localize "age-system.talentDegree"}}" />
                    {{/if}}
                </div>
            </div>
            
            {{!-- Active Bonuses --}}
            {{> "systems/age-system/templates/partials/active-bonuses.hbs"}}
            

            {{#if inChat}}
            {{!-- Description --}}
            <div class="item-card-desc">
                <label>{{localize "age-system.item.desc"}}</label>
                {{editor content=data.longDesc target="data.longDesc" button=false owner=owner editable=editable}}
            </div>
            {{/if}}

        </div>

        {{#if inChat}}
        {{else}}
        {{!-- Tab Control --}}
        {{> "systems/age-system/templates/partials/bonus-desc-sheet.hbs"}}
        {{/if}}

    </div>
</form>
