<form class="{{cssClass}} age-system sheet vehicle" autocomplete="off">

    <input name="name" class="vehicle-name colorset-first-tier" type="text" value="{{actor.name}}" placeholder="{{localize "age-system.item.name"}}"/>
    <div class="vehicle-stats">
        {{!-- <h3>{{localize "age-system.parameters"}}</h3> --}}
        <div class="grid-container colorset-second-tier">
            <div class="grid-parameter flexcol flexwrap">

                <div class="flexcol">
                    <label>{{localize "age-system.pilot"}}</label>
                    <input type="text" name="data.pilot" value="{{data.pilot}}">
                </div>

                <div class="flexcol">
                    <div class="flexrow flex-justify-center label-with-icon">
                        <label class="handling-focus">{{localize "age-system.focus"}}</label>
                        <a><i class="fas fa-dice"></i></a>                        
                    </div>
                    <input type="text" name="data.focus" value="{{data.focus}}">
                </div>

                <div class="flexrow flexwrap">
                    <div class="flexcol no-flexwrap">
                        <label>{{localize "age-system.velocity"}}</label>
                        <div class="flexrow no-flexwrap">
                            <select name="data.velocity.category">
                                {{#select data.velocity.category}}
                                {{#each config.velocityCategory as |category code|}}
                                <option value="{{code}}">{{localize (concat "age-system." code)}}</option>
                                {{/each}}
                                {{/select}}
                            </select>    
                            <span>/</span>
                            <input type="number" name="data.velocity.catMod" value="{{data.velocity.catMod}}" data-dtype="Number">
                        </div>
                    </div>

                    <div class="flexcol flex-align-center">
                        <label>{{localize "age-system.handling"}}</label>
                        <input type="number" name="data.handling" value="{{data.handling}}" data-dtype="Number">
                    </div>

                    <div class="flexcol flex-align-center">
                        <label>{{localize "age-system.item.cost"}}</label>
                        <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number">
                    </div>

                </div>


                <div class="flexrow">

                    <div class="flexcol flex-align-center">
                        <label>{{localize "age-system.defense"}}</label>
                        <input type="number" disabled name="data.defenseTotal" value="{{data.defenseTotal}}" data-dtype="Number">
                    </div>

                    <div class="flexcol flex-align-center">
                        <label>{{localize "age-system.hull"}}</label>
                        <input type="number" name="data.hull" value="{{data.hull}}" data-dtype="Number">
                    </div>

                    <div class="flexcol flex-align-center">
                        <label>{{localize "age-system.ram"}}</label>
                        <div class="flexrow">
                            <input type="number" name="data.ramDmg" value="{{data.ramDmg}}" data-dtype="Number">
                            <span>{{localize "age-system.settings.d6"}}</span>
                        </div>
                    </div>
                </div>

                <table class="velocity-damage-table">
                    <thead class="colorset-first-tier">
                        <th>{{localize "age-system.velClass"}}</th>
                        <th>{{localize "age-system.collision"}}</th>
                        <th>{{localize "age-system.sideswipe"}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{localize "age-system.velStandard"}}</td>
                            <td><a>1d6</a><a><i class="fa fa-bomb"></i></a></td>
                            <td><a>1d3</a><a><i class="fa fa-bomb"></i></a></td>
                        </tr>
                        <tr>
                            <td>{{localize "age-system.velFast"}}</td>
                            <td><a>2d6</a><a><i class="fa fa-bomb"></i></a></td>
                            <td><a>1d6</a><a><i class="fa fa-bomb"></i></a></td>
                        </tr>
                        <tr>
                            <td>{{localize "age-system.velVeryFast"}}</td>
                            <td><a>4d6</a><a><i class="fa fa-bomb"></i></a></td>
                            <td><a>2d6</a><a><i class="fa fa-bomb"></i></a></td>
                        </tr>
                        <tr>
                            <td>{{localize "age-system.velExtreme"}}</td>
                            <td><a>6d6</a><a><i class="fa fa-bomb"></i></a></td>
                            <td><a>3d6</a><a><i class="fa fa-bomb"></i></a></td>
                        </tr>                                                
                    </tbody>
                </table>
            </div>


            <div class="grid-img">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>

            <div class="grid-description">
                <div class="flexcol editor">
                    <label>{{localize "age-system.item.desc"}}</label>
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>

        </div>
    </div>
    
</form>
