<form class="{{cssClass}} age-system item weapon" autocomplete="off">

    <p class="card-title colorset-first-tier">{{localType}}</p>
    <div class="item-card-header item-box flexrow colorset-second-tier">
        <img class="img-change" src="{{item.img}}" {{#if (ne inChat true)}}data-edit="img"{{/if}} title="{{item.name}}"/>
        <div class="header-data">
            <input name="name" class="item-name" type="text" value="{{item.name}}" placeholder="{{localize "age-system.item.name"}}">
            <div class="flexrow flex-align-center">
                {{!-- Ability/Focus to activate item --}}
                {{> "systems/age-system/templates/partials/ability-focus-select.hbs"}}
                <div class="flexcol minimum-length">
                    <input class="header-input page-ref" name="data.reference" type="text" {{#if inChat}}disabled{{/if}} value="{{data.data.reference}}" placeholder="Page Ref." data-dtype="String"/>
                    <label class="label-under">Reference</label>
                </div>
            </div>
        </div>
    </div>
    <div class="item-sheet-sections flexrow colorset-second-tier">
        <ul class="item-summary">
            {{!-- Base Damage --}}
            <li>
                <label>{{localize "age-system.item.damage"}}</label>
                <input type="text" value="{{data.data.dmgFormula}}" disabled>
            </li>
            {{#if config.healthSys.useBallistic}}
            <li>
                <label for="">Type</label>
                <select name="data.dmgType">
                    {{#select data.data.dmgType}}
                    {{#each config.damageType as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </li>
            {{/if}}
            <li>
                <label>Source</label>
                <select name="data.dmgSource">
                    {{#select data.data.dmgSource}}
                    {{#each config.damageSource as |name source|}}
                    <option value="{{source}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </li>
            <li>
                {{!-- Minimum Strenght --}}
                <label>{{localize "age-system.item.minStr"}}</label>
                <input name="data.minStr" type="text" {{#if inChat}}disabled{{/if}} value="{{data.data.minStr}}" placeholder="-" data-dtype="String"/>
            </li>
            <li>
                {{!-- Purchase Block --}}
                {{> "systems/age-system/templates/partials/cost-resource-block.hbs"}}
            </li>
            <li class="flexcol">
                {{!-- ROF --}}
                <label>{{localize "age-system.rof.rof"}}</label>
                <select name="data.rof">
                    {{#select data.data.rof}}
                    {{#each config.rof as |rof|}}
                    <option value="{{@key}}">{{localize rof}}</option>
                    {{/each}}
                    {{/select}}
                </select>             
            </li>
            {{!-- Range --}}
            <li class="flexcol">
                <label>{{localize "age-system.item.range"}} ({{localize "age-system.item.yards"}})</label>                    
                <div class="flexrow">
                    <input type="number" {{#if inChat}}disabled{{/if}} name="data.range" value="{{data.data.range}}" data-dtype="Number" />
                    /
                    <input type="number" {{#if inChat}}disabled{{/if}} name="data.rangeMax" value="{{data.data.rangeMax}}" data-dtype="Number" />
                </div>        
            </li>
            {{!-- Capacity --}}
            <li class="flexcol">
                <label>{{localize "age-system.item.capacity"}}</label>
                <input type="text" {{#if inChat}}disabled{{/if}} name="data.capacity" value="{{data.data.capacity}}" data-dtype="Number" />                    
            </li>
            {{!-- Reload --}}
            <li class="flexcol">
                <label>{{localize "age-system.item.reload"}}</label>
                {{#if inChat}}
                <div>{{localize (concat "age-system." data.data.reload)}}</div>
                {{else}}
                <select name="data.reload" {{#if inChat}}disabled{{/if}}>
                    {{#select data.data.reload}}
                    {{#each config.reloadDuration as |reloadDuration|}}
                    <option value="{{@key}}">{{localize reloadDuration}}</option>
                    {{/each}}
                    {{/select}}
                </select>    
                {{/if}}                   
            </li>
            {{!-- Quantity --}}
            <li class="flexcol">
                <label>{{localize "age-system.item.quantity"}}</label>
                <input type="number" {{#if inChat}}disabled{{/if}} name="data.quantity" value="{{data.data.quantity}}" data-dtype="Number" />
            </li>
            {{!-- Weight --}}
            <li class="flexcol">
                <label>{{localize "age-system.item.weight"}}</label>
                <input type="number" {{#if inChat}}disabled{{/if}} name="data.weight" value="{{data.data.weight}}" data-dtype="Number" />
            </li>
        </ul>
        {{!-- Tab Control --}}
        <div class="sheet-main-content">
            {{> "systems/age-system/templates/partials/bonus-desc-sheet.hbs"}}
        </div>
    </div>
        

    {{!-- Damage Composition and Damage Type --}}
    {{> "systems/age-system/templates/partials/dmg-block-sheet.hbs"}}


</form>