<form class="{{cssClass}} age-system item weapon colorset-selection {{data.colorScheme}}" autocomplete="off">

    <div class="sheet-content item-stats weapon">
        <div class="flexcol">
            {{#if inChat}}
            <div class="item-card-title colorset-first-tier">{{name}}</div>
            {{else}}
            <input name="name" class="item-card-title colorset-first-tier" type="text" value="{{item.name}}" placeholder="{{localize "age-system.item.name"}}"/>
            {{/if}}
            <div class="item-card-stats flexrow">
                {{!-- Ability and Focus to Attack --}}
                <div class="flexcol">
                    <label>{{localize "age-system.abl"}}</label>
                    <label>({{localize "age-system.focus"}})</label>
                    {{#if inChat}}
                    <div class="data-input">{{localize (concat "age-system." data.useAbl)}}</div>
                    {{else}}
                    <select name="data.useAbl" class="data-input">
                        {{#select data.useAbl}}
                        {{#each config.abilities as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                    {{#if inChat}}
                    <div name="data.useFocus" class="data-input">{{data.useFocus}}</div>
                    {{else}}
                    <div class="flexrow">
                        (<input name="data.useFocus" class="data-input" type="text" value="{{data.useFocus}}" placeholder="Focus Name" list="{{item.type}}-{{item._id}}-list"/>)
                        <datalist id="{{item.type}}-{{item._id}}-list">
                            <option value=""></option>
                            {{#each config.focus as |focus|}}
                            <option value="{{focus.name}}"></option>
                            {{/each}}
                        </datalist>
                    </div>                    
                    {{/if}}
                </div>

                {{!-- Damage Composition and Damage Type --}}
                {{> "systems/age-system/templates/partials/dmg-block-sheet.hbs"}}

                {{!-- Minimum Strenght --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.minStr"}}</label>
                    <input name="data.minStr" type="text" value="{{data.minStr}}" placeholder="{{localize "age-system.item.reqStr"}}" data-dtype="Number"/>
                </div>
                {{!-- Resource TL --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.resourceTN"}}</label>
                    <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" />
                </div>
                {{!-- Weight --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.weight"}}</label>
                    <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
                </div>
                {{!-- ROF --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.rof"}}</label>
                    <select name="data.rof">
                        {{#select data.rof}}
                        <option value="0"><span>-</span></option>
                        <option value="1">{{localize "age-system.item.ss"}}</option>
                        <option value="2">{{localize "age-system.item.sa"}}</option>
                        <option value="3">{{localize "age-system.item.aa"}}</option>
                        {{/select}}
                    </select>                    
                </div>
                {{!-- Range --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.range"}}</label>                    
                    <input type="text" name="data.range" value="{{data.range}}" data-dtype="Number" />
                    <span>{{localize "age-system.item.yards"}}</span>                    
                </div>
                {{!-- Capacity --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.capacity"}}</label>
                    <input type="text" name="data.capacity" value="{{data.capacity}}" data-dtype="Number" />                    
                </div>
                {{!-- Reload --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.reload"}}</label>
                    <select name="data.reload">
                        {{#select data.reload}}
                        <option value="0"><span>-</span></option>
                        <option value="1">{{localize "age-system.minorAction"}}</option>
                        <option value="2">{{localize "age-system.majorAction"}}</option>
                        <option value="3">{{localize "age-system.d6minor"}}</option>
                        {{/select}}
                    </select>                       
                </div>
            </div>

            {{!-- Active Bonuses --}}
            {{> "systems/age-system/templates/partials/active-bonuses.hbs"}}        


            {{#if inChat}}
            {{!-- Description --}}
            <div class="item-card-desc">
                <label>{{localize "age-system.item.desc"}}</label>
                {{editor content=data.longDesc target="data.longDesc" button=false owner=owner editable=editable}}
            </div>
            {{/if}}

        </div>

        {{#if inChat}}
        {{else}}
        {{!-- Tab Control --}}
        {{> "systems/age-system/templates/partials/bonus-desc-sheet.hbs"}}
        {{/if}}

    </div>
</form>
