<form class="{{cssClass}} age-system item weapon colorset-selection {{data.colorScheme}}" autocomplete="off">

    <div class="sheet-content item-stats weapon">
        <div class="flexcol">
            {{#if inChat}}
            <div class="item-card-title colorset-first-tier">{{name}}</div>
            {{else}}
            <input name="name" class="item-card-title colorset-first-tier" type="text" value="{{item.name}}" placeholder="{{localize "age-system.item.name"}}"/>
            {{/if}}
            <div class="item-card-stats flexrow">

                {{!-- Ability/Focus to activate item --}}
                {{> "systems/age-system/templates/partials/ability-focus-select.hbs"}}

                {{!-- Damage Composition and Damage Type --}}
                {{> "systems/age-system/templates/partials/dmg-block-sheet.hbs"}}

                {{!-- Minimum Strenght --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.minStr"}}</label>
                    <input name="data.minStr" type="text" {{#if inChat}}disabled{{/if}} value="{{data.minStr}}" placeholder="{{localize "age-system.item.reqStr"}}" data-dtype="Number"/>
                </div>
                {{!-- Purchase Block --}}
                <div class="flexcol">
                    {{> "systems/age-system/templates/partials/cost-resource-block.hbs"}}
                </div>
                {{!-- Weight --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.weight"}}</label>
                    <input type="text" {{#if inChat}}disabled{{/if}} name="data.weight" value="{{data.weight}}" data-dtype="Number" />
                </div>
                {{!-- ROF --}}
                <div class="flexcol">
                    <label>{{localize "age-system.rof.rof"}}</label>
                    {{#if inChat}}
                    <div>{{localize (concat "age-system.rof." data.rof)}}</div>
                    {{else}}
                    <select name="data.rof">
                        {{#select data.rof}}
                        {{#each config.rof as |rof|}}
                        <option value="{{@key}}">{{localize rof}}</option>
                        {{/each}}
                        {{/select}}
                    </select>  
                    {{/if}}                  
                </div>
                {{!-- Range --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.range"}}</label>                    
                    <input type="text" {{#if inChat}}disabled{{/if}} name="data.range" value="{{data.range}}" data-dtype="Number" />
                    <span>{{localize "age-system.item.yards"}}</span>                    
                </div>
                {{!-- Capacity --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.capacity"}}</label>
                    <input type="text" {{#if inChat}}disabled{{/if}} name="data.capacity" value="{{data.capacity}}" data-dtype="Number" />                    
                </div>
                {{!-- Reload --}}
                <div class="flexcol">
                    <label>{{localize "age-system.item.reload"}}</label>
                    {{#if inChat}}
                    <div>{{localize (concat "age-system." data.reload)}}</div>
                    {{else}}
                    <select name="data.reload" {{#if inChat}}disabled{{/if}}>
                        {{#select data.reload}}
                        {{#each config.reloadDuration as |reloadDuration|}}
                        <option value="{{@key}}">{{localize reloadDuration}}</option>
                        {{/each}}
                        {{/select}}
                    </select>    
                    {{/if}}                   
                </div>
            </div>

            {{!-- Active Bonuses --}}
            {{> "systems/age-system/templates/partials/active-bonuses.hbs"}}        


            {{#if inChat}}
            {{!-- Description --}}
            <div class="item-card-desc">
                <label>{{localize "age-system.item.desc"}}</label>
                {{editor content=data.longDesc target="data.longDesc" button=false owner=owner editable=editable}}
            </div>
            {{/if}}

        </div>

        {{#if inChat}}
        {{else}}
        {{!-- Tab Control --}}
        {{> "systems/age-system/templates/partials/bonus-desc-sheet.hbs"}}
        {{/if}}

    </div>
</form>
